In [44]:
import http.client, urllib.request, urllib.parse, urllib.error, base64
import json
import csv
import pandas as pd

names = pd.read_csv('NameList1.csv')
companies = pd.read_csv('CriteriaList1.csv')

YOUR_API_KEY = '9fffa2e7b9874dc0be029fe67f7b3cc6'

linkedin = []

for name, company in zip(names, companies): # zip to loop over names and companies simultaneously
    
    query = name + company
    
    try:
        headers = {'Ocp-Apim-Subscription-Key': YOUR_API_KEY }
        params = urllib.parse.urlencode({'q': query,'count': '2','mkt': 'us-US'}) # returns top 2 (German) results
        conn = http.client.HTTPSConnection('api.cognitive.microsoft.com')
        conn.request("GET", "/bing/v7.0/search?%s" % params, "{body}", headers)
        response = conn.getresponse()
        data = response.read().decode('utf-8')
        json_file = json.loads(data)
        conn.close()

        for result in json_file['webPages']['value']:
            title = result['name']
            if name.lower() in title.lower(): # checks if the name appears in the title
                if 'linkedin.com/in/' in result['displayUrl']: # checks if the search result URL is a LI profile
                    linkedin.append([name, company, result['displayUrl']])
                    break
                    
    except Exception as e:
        print(e)
        continue
        
# Writing the results to a CSV file
with open('linkedin.csv', 'w', newline='', encoding='utf-8') as f:
    writer = csv.writer(f)
    for row in linkedin:
        writer.writerow(row)
                
print('Number of LinkedIn profiles found:')
print(len(linkedin))

Number of LinkedIn profiles found:
1

In [45]:
linkedin

[['Khary Pryce',
  ' Cornell',
  'https://www.linkedin.com/in/khary-pryce-54347017a']]

In [46]:
names

Empty DataFrame
Columns: [Khary Pryce]
Index: []

In [47]:
names = pd.read_csv('NameList2.csv')
companies = pd.read_csv('CriteriaList2.csv')

YOUR_API_KEY = '9fffa2e7b9874dc0be029fe67f7b3cc6'

linkedin = []

for name in names: # zip to loop over names and companies simultaneously
    
    query = name
    
    try:
        headers = {'Ocp-Apim-Subscription-Key': YOUR_API_KEY }
        params = urllib.parse.urlencode({'q': query,'count': '2','mkt': 'us-US'}) # returns top 2 (German) results
        conn = http.client.HTTPSConnection('api.cognitive.microsoft.com')
        conn.request("GET", "/bing/v7.0/search?%s" % params, "{body}", headers)
        response = conn.getresponse()
        data = response.read().decode('utf-8')
        json_file = json.loads(data)
        conn.close()

        for result in json_file['webPages']['value']:
            title = result['name']
            if name.lower() in title.lower(): # checks if the name appears in the title
                if 'linkedin.com/in/' in result['displayUrl']: # checks if the search result URL is a LI profile
                    linkedin.append([name, company, result['displayUrl']])
                    break
                    
    except Exception as e:
        print(e)
        continue
        
# Writing the results to a CSV file
with open('linkedin.csv', 'w', newline='', encoding='utf-8') as f:
    writer = csv.writer(f)
    for row in linkedin:
        writer.writerow(row)
                
print('Number of LinkedIn profiles found:')
print(len(linkedin))

Number of LinkedIn profiles found:
0

In [48]:
names

                name
0       Megan Polnet
1         Valerie Ho
2   Katherine Nguyen
3        Khary Pryce
4  Maria Adiaconitei
5          Ana Elhom

In [49]:
companies

    company
0   Cornell
1   Cornell
2   Cornell
3   Cornell
4   Cornell
5   Cornell