In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from parsel import Selector
import pandas as pd
import numpy as np
import time
EXE_PATH = r"C:\Users\19145\Downloads\chromedriver_win32\chromedriver.exe"
driver = webdriver.Chrome(executable_path=EXE_PATH)

In [2]:
driver.get('https://www.linkedin.com')
time.sleep(10)

In [3]:
driver.find_element_by_class_name("input")

In [4]:
driver.find_element_by_name("session_key")

In [5]:
username = driver.find_element_by_name("session_key")
username.send_keys('xxxxxxxx')

In [6]:
driver.find_element_by_name("session_password")

In [7]:
password = driver.find_element_by_name("session_password")
password.send_keys('xxxxxxxx')

In [8]:
driver.find_element_by_class_name("sign-in-form__footer")
log_in_button = driver.find_element_by_class_name("sign-in-form__submit-btn")
log_in_button.click()

In [9]:
driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")
searchname = driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")

In [10]:
searchname.send_keys('Eric Cruz Cornell')

In [11]:
driver.find_element_by_class_name("search-global-typeahead__controls")
clicksearch = driver.find_element_by_class_name("search-global-typeahead__controls")
clicksearch.click()
time.sleep(10)

In [12]:
driver.find_element_by_xpath('//span[@class="name actor-name"]').click()
time.sleep(1)

In [13]:
searchresult=[]
name=[]
headline=[]
location=[]
company=[]
school=[]
activities=[]

In [14]:
searchresult = driver.current_url
searchresult
time.sleep(1)

In [15]:
sel=Selector(text=driver.page_source)
name = sel.xpath('//*[starts-with(@class, "inline t-24")]/text()').extract_first()
name = name.strip()
#time.sleep(5)
#name.append(name)
headline = sel.xpath('//*[starts-with(@class, "mt1 t-18")]/text()').extract_first()
headline = headline.strip()
#time.sleep(5)
#headline.append(headline)
location = sel.xpath('//*[starts-with(@class, "t-16")]/text()').extract_first()
location = location.strip()
time.sleep(5)
#location.append(location)
company = sel.xpath('//*[starts-with(@class, "pv-entity__secondary-title")]/text()').extract_first()
if company is None:
    company = "Not Found"
company = company.strip()
#time.sleep(5)
#company.append(company)
school = sel.xpath('//*[starts-with(@class, "pv-entity__school-name")]/text()').getall()
#school.append(school)
#time.sleep(5)
activities = sel.xpath('//*[starts-with(@class, "activities-societies")]/text()').getall()
#activities.append(activities)
#time.sleep(5)

In [16]:
#activities = sel.xpath('//*[starts-with(@class, "activities-societies")]/text()').getall()

In [17]:
#activities

In [18]:
#company = sel.xpath('//*[starts-with(@class, "pv-entity__secondary-title")]/text()').getall()
#company

In [19]:
#school = sel.xpath('//*[starts-with(@class, "pv-entity__school-name")]/text()').getall()
#school

In [20]:
#headline = sel.xpath('//*[starts-with(@class, "mt1 t-18")]/text()').extract_first()
#headline

In [21]:
df = pd.DataFrame({
'Name':[name], 
'SearchResult':[searchresult], 
'Headline':[headline], 
'Location':[location], 
'Company':[company],
'School':[school],
'Activites':[activities]    
})

In [22]:
df

,Name,SearchResult,Headline,Location,Company,School,Activites
0,Eric Cruz,https://www.linkedin.com/in/eric-cruz-07124651/,Finance | IT | Data Science |,"New Rochelle, New York",Not Found,[],[]

In [23]:
names = pd.read_csv('NameListCornellM.csv')
companies = pd.read_csv('CriteriaListCornellM.csv')
names = pd.DataFrame(names).to_numpy()
companies = pd.DataFrame(companies).to_numpy()

In [24]:
query = []
for name, company in zip(names, companies): 
    query = name + company
    searchname.send_keys(query)
    driver.find_element_by_class_name("search-global-typeahead__controls")
    clicksearch = driver.find_element_by_class_name("search-global-typeahead__controls")
    clicksearch.click()
    time.sleep(2)
    try:
        driver.find_element_by_xpath('//span[@class="name actor-name"]').click()
        time.sleep(3)
        searchresult = driver.current_url
    except Exception:
        print(query)
        driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")
        searchname = driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")        
        searchname.clear()
        time.sleep(1)
        driver.find_element_by_class_name("search-global-typeahead__controls")
        clicksearch = driver.find_element_by_class_name("search-global-typeahead__controls")
        clicksearch.click()
        time.sleep(2)
        clicksearch.click()
    else:
        sel=Selector(text=driver.page_source)
        name = sel.xpath('//*[starts-with(@class, "inline t-24")]/text()').extract_first()
        if name is None:
            name = "Not Found"
        name = name.strip()
#time.sleep(5)
        headline = sel.xpath('//*[starts-with(@class, "mt1 t-18")]/text()').extract_first()
        if headline is None:
            headline = "Not Found"
        headline = headline.strip()
#time.sleep(5)
        location = sel.xpath('//*[starts-with(@class, "t-16")]/text()').extract_first()
        if location is None:
            location = "Not Found"
        location = location.strip()
        time.sleep(2)
        company = sel.xpath('//*[starts-with(@class, "pv-entity__secondary-title")]/text()').extract_first()
        if company is None:
            company = "Not Found"
        company = company.strip()
#time.sleep(5)
        school = sel.xpath('//*[starts-with(@class, "pv-entity__school-name")]/text()').getall()
#time.sleep(5)
        activities = sel.xpath('//*[starts-with(@class, "activities-societies")]/text()').getall()
#time.sleep(5)
        tempdf = pd.DataFrame({
        'Name':[name], 
        'SearchResult':[searchresult], 
        'Headline':[headline], 
        'Location':[location], 
        'Company':[company],
        'School':[school],
        'Activites':[activities]    
        })
        df=df.append(tempdf)

['Matthew  Druyanoff Cornell']
['Eero  Vasa Cornell']
['Daniel  Soyfer Cornell']
['Bernardo Casares Rosa Cornell']
['Quoc-Daniel  Nguyen Cornell']
['Dragos  Dima Cornell']
['Danny  Riggs Cornell']
['Peter  Nawara Cornell']
['Judd  Berg Cornell']
['Brett  McKeon Cornell']
['John  Nerenberg Cornell']
['Samuel  Desch Cornell']
['Kevin  Suffern Cornell']
['Peter  Kortman Cornell']
['Joel  Pashcow Cornell']
['David  Oshinky Cornell']
['James  Maglisceau Cornell']
['Torrence  Harder Cornell']
['Henry  Steinglass Cornell']
['Kenneth  Kershbaum Cornell']
['H. Larry Braverman Cornell']
['Jon  Minikes Cornell']
['Christopher  Demtrak Cornell']
['Thomas  Pakurar Cornell']
['Brian  Miscall Cornell']
['Peter  Aydellott Cornell']
['Craig  Fanning Cornell']
['J. Lawrence Schnadig Cornell']
['Barton  Brownstein Cornell']
['DeLee  Minner Cornell']
['Alveric  Kegerreis Cornell']
['Gerald  Barrack Cornell']
['Gilmore  Rothrock Cornell']
['Henry  Strunk Cornell']
['James  Shoffner Cornell']
['Albert  Trostel Cornell']
['Colin  Tait Cornell']
['Paul  Bomze Cornell']
['Bernard  Pinn Cornell']
['Bruce  Boselli Cornell']
['James  Shoffner Cornell']
['Walter  Dockerill Cornell']
['William  Swirbal Cornell']
['Lee  Saperston Cornell']
['John  Riihiluoma Cornell']
['Richard  Goldstein Cornell']
['Rod  de Llano Cornell']
['Rodgers  Heiss Cornell']
['Paul  Lansaw Cornell']
['Arthur  Gorstenfeld Cornell']
['Richard  Gnaedinger Cornell']
['Jordan  Dingle Cornell']
[' Alfred  Devendorf Cornell']
[' John  Fiala Cornell']
[' John  Preeg Cornell']
[' Bruce  Mesches Cornell']
[' Jay  Umans Cornell']
[' Arnold  Resnick Cornell']
[' Doren  Goldstone Cornell']
[' Craig  Perlow Cornell']
[' Eric  Schieding Cornell']
[' Jeff  Charlolff Cornell']
[' Brad  Rosenstein Cornell']
[' Mike  Rytting Cornell']
[' Tony  Giorgetti Cornell']
[' Steve  Begner Cornell']
[' Zubin  Irani Cornell']
[' Mike  Slapp Cornell']
[' Carl  Thorsen Cornell']

In [25]:
df

,Name,SearchResult,Headline,Location,Company,School,Activites
0,Eric Cruz,https://www.linkedin.com/in/eric-cruz-07124651/,Finance | IT | Data Science |,"New Rochelle, New York",Not Found,[],[]
0,Rohan Sikka,https://www.linkedin.com/in/rohan-sikka-b65032...,Incoming Private Equity Analyst at StepStone G...,"London, United Kingdom",Ares Management Corporation,[Cornell University],[]
0,Konstantin Kirovski,https://www.linkedin.com/in/konstantin-kirovsk...,Student at Cornell University,Slovenia,,[Cornell University],[]
0,Alafia Ayeni,https://www.linkedin.com/in/alafia-ayeni-b2326...,Student-Athlete at Cornell University,"San Diego, California",,"[Cornell University, Westview High School]",[Member of Cornell Men's Tennis]
0,Pietro Rimondini,https://www.linkedin.com/in/pietro-rimondini-7...,Student at Cornell University,"Ithaca, New York",Diadem Sports,"[Cornell University, Cornell University]",[]
...,...,...,...,...,...,...,...
0,Allan Zapadinsky,https://www.linkedin.com/in/allanzapadinsky/,Licensed Real Estate Agent,"New York, New York",Keller Williams NYC,"[Cornell University, Poly Prep Country Day Sch...",[]
0,"Joe Chrisman, CFA",https://www.linkedin.com/in/joe-chrisman-cfa-2...,Partner at Monograph Wealth Advisors,Greater Los Angeles Area,Monograph Wealth Advisors,"[Cornell University, Cornell University]","[Men's Tennis, Phi Kappa Psi]"
0,Daniel Kahn,https://www.linkedin.com/in/daniel-kahn-b2ba882b/,"Senior Portfolio Manager, Vice President, Fina...",Greater New York City Area,Morgan Stanley,"[Cornell University- Arts and Sciences, N.Y.U ...",[]
0,Michael Mestel,https://www.linkedin.com/in/michael-mestel-2b6...,Managing Director - Head of US Real Estate Deb...,"New York, New York",H.I.G. Capital,"[Cornell University, Cornell University]",[]
0,Ricardo Oliveira Paes,https://www.linkedin.com/in/ricardo-oliveira-p...,Student at Cornell University,"Ithaca, New York",Cornell Hyperloop,"[Cornell University, Michigan Technological Un...",[Men’s Varsity Tennis Team]

In [26]:
df.tail()

,Name,SearchResult,Headline,Location,Company,School,Activites
0,Allan Zapadinsky,https://www.linkedin.com/in/allanzapadinsky/,Licensed Real Estate Agent,"New York, New York",Keller Williams NYC,"[Cornell University, Poly Prep Country Day Sch...",[]
0,"Joe Chrisman, CFA",https://www.linkedin.com/in/joe-chrisman-cfa-2...,Partner at Monograph Wealth Advisors,Greater Los Angeles Area,Monograph Wealth Advisors,"[Cornell University, Cornell University]","[Men's Tennis, Phi Kappa Psi]"
0,Daniel Kahn,https://www.linkedin.com/in/daniel-kahn-b2ba882b/,"Senior Portfolio Manager, Vice President, Fina...",Greater New York City Area,Morgan Stanley,"[Cornell University- Arts and Sciences, N.Y.U ...",[]
0,Michael Mestel,https://www.linkedin.com/in/michael-mestel-2b6...,Managing Director - Head of US Real Estate Deb...,"New York, New York",H.I.G. Capital,"[Cornell University, Cornell University]",[]
0,Ricardo Oliveira Paes,https://www.linkedin.com/in/ricardo-oliveira-p...,Student at Cornell University,"Ithaca, New York",Cornell Hyperloop,"[Cornell University, Michigan Technological Un...",[Men’s Varsity Tennis Team]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274 entries, 0 to 0
Data columns (total 7 columns):
Name            274 non-null object
SearchResult    274 non-null object
Headline        274 non-null object
Location        274 non-null object
Company         274 non-null object
School          274 non-null object
Activites       274 non-null object
dtypes: object(7)
memory usage: 17.1+ KB

In [28]:
df.describe()

,Name,SearchResult,Headline,Location,Company,School,Activites
count,274,274,274,274,274,274,274
unique,271,271,251,127,213,182,110
top,Steve Silverman,https://www.linkedin.com/in/steve-silverman-ba...,Student at Cornell University,Greater New York City Area,Not Found,[Cornell University],[]
freq,2,2,17,45,35,49,155

In [29]:
df.isnull().sum()

Name            0
SearchResult    0
Headline        0
Location        0
Company         0
School          0
Activites       0
dtype: int64

In [30]:
df["School"].value_counts()

[Cornell University]                                                         49
[]                                                                           28
[Cornell University, Cornell University]                                      8
[Harvard Business School, Cornell University]                                 4
[Columbia University - Columbia Business School, Cornell University]          2
                                                                             ..
[Albany Law School of Union University, Cornell University]                   1
[St. John's University, Providence College, Kennedy Catholic High School]     1
[LIU Post, Cornell University, Indiana University Bloomington]                1
[Columbia University in the City of New York, INSEAD, Cornell University]     1
[Cornell University, University of Melbourne]                                 1
Name: School, Length: 182, dtype: int64

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
df.columns

Index(['Name', 'SearchResult', 'Headline', 'Location', 'Company', 'School',
       'Activites'],
      dtype='object')

In [33]:
df.to_csv("CornellM_LinkedIn.csv")