In [34]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from parsel import Selector
import pandas as pd
import numpy as np
import time
EXE_PATH = r"C:\Users\19145\Downloads\chromedriver_win32\chromedriver.exe"
driver = webdriver.Chrome(executable_path=EXE_PATH)

In [35]:
driver.get('https://www.linkedin.com')

In [36]:
driver.find_element_by_class_name("input")

In [37]:
driver.find_element_by_name("session_key")

In [38]:
username = driver.find_element_by_name("session_key")
username.send_keys('eric.cruz.4242@gmail.com')

In [39]:
driver.find_element_by_name("session_password")

In [40]:
password = driver.find_element_by_name("session_password")
password.send_keys('Cassidy1!')

In [41]:
driver.find_element_by_class_name("sign-in-form__footer")
log_in_button = driver.find_element_by_class_name("sign-in-form__submit-btn")
log_in_button.click()

In [42]:
driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")
searchname = driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")

In [43]:
searchname.send_keys('Eric Cruz Cornell')

In [44]:
driver.find_element_by_class_name("search-global-typeahead__controls")
clicksearch = driver.find_element_by_class_name("search-global-typeahead__controls")
clicksearch.click()
time.sleep(10)

In [45]:
driver.find_element_by_xpath('//span[@class="name actor-name"]').click()
time.sleep(1)

In [46]:
searchresult=[]
name=[]
LName=[]
headline=[]
location=[]
company=[]
school=[]
activities=[]

In [47]:
searchresult = driver.current_url
searchresult
time.sleep(1)

In [48]:
sel=Selector(text=driver.page_source)
name = sel.xpath('//*[starts-with(@class, "inline t-24")]/text()').extract_first()
name = name.strip()
LName = name
#time.sleep(5)
#name.append(name)
headline = sel.xpath('//*[starts-with(@class, "mt1 t-18")]/text()').extract_first()
headline = headline.strip()
#time.sleep(5)
#headline.append(headline)
location = sel.xpath('//*[starts-with(@class, "t-16")]/text()').extract_first()
location = location.strip()
time.sleep(5)
#location.append(location)
company = sel.xpath('//*[starts-with(@class, "pv-entity__secondary-title")]/text()').extract_first()
if company is None:
    company = "Not Found"
company = company.strip()
#time.sleep(5)
#company.append(company)
school = sel.xpath('//*[starts-with(@class, "pv-entity__school-name")]/text()').getall()
#school.append(school)
#time.sleep(5)
activities = sel.xpath('//*[starts-with(@class, "activities-societies")]/text()').getall()
#activities.append(activities)
#time.sleep(5)

In [49]:
df = pd.DataFrame({
'Name':[name],
'LName':[LName],    
'SearchResult':[searchresult], 
'Headline':[headline], 
'Location':[location], 
'Company':[company],
'School':[school],
'Activites':[activities]    
})

In [50]:
df

,Name,LName,SearchResult,Headline,Location,Company,School,Activites
0,Eric Cruz,Eric Cruz,https://www.linkedin.com/in/eric-cruz-07124651/,Finance | IT | Data Science |,"New Rochelle, New York",Not Found,[],[]

In [99]:
namelist = pd.read_csv('NameListCornellW.csv')
names = pd.read_csv('NameListCornellW.csv')
companies = pd.read_csv('CriteriaListCornellW.csv')
names = pd.DataFrame(names).to_numpy()
companies = pd.DataFrame(companies).to_numpy()

In [116]:
query = []
Name = []
for name, company in zip(names, companies): 
    Name = name
    query = name + company
    searchname.send_keys(query)
    driver.find_element_by_class_name("search-global-typeahead__controls")
    clicksearch = driver.find_element_by_class_name("search-global-typeahead__controls")
    clicksearch.click()
    time.sleep(1)
    try:
        driver.find_element_by_xpath('//span[@class="name actor-name"]').click()
        time.sleep(2)
        searchresult = driver.current_url
    except Exception:
        print(query)
        driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")
        searchname = driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")        
        searchname.clear()
        time.sleep(1)
        driver.find_element_by_class_name("search-global-typeahead__controls")
        clicksearch = driver.find_element_by_class_name("search-global-typeahead__controls")
        clicksearch.click()
        time.sleep(2)
        clicksearch.click()
    else:
        sel=Selector(text=driver.page_source)
        name = sel.xpath('//*[starts-with(@class, "inline t-24")]/text()').extract_first()
        if name is None:
            name = "Not Found"
        LName = name.strip()
#time.sleep(5)
        headline = sel.xpath('//*[starts-with(@class, "mt1 t-18")]/text()').extract_first()
        if headline is None:
            headline = "Not Found"
        headline = headline.strip()
#time.sleep(5)
        location = sel.xpath('//*[starts-with(@class, "t-16")]/text()').extract_first()
        if location is None:
            location = "Not Found"
        location = location.strip()
        time.sleep(2)
        company = sel.xpath('//*[starts-with(@class, "pv-entity__secondary-title")]/text()').extract_first()
        if company is None:
            company = "Not Found"
        company = company.strip()
#time.sleep(5)
        school = sel.xpath('//*[starts-with(@class, "pv-entity__school-name")]/text()').getall()
#time.sleep(5)
        activities = sel.xpath('//*[starts-with(@class, "activities-societies")]/text()').getall()
#time.sleep(5)
        tempdf = pd.DataFrame({
        'Name':[Name], 
        'LName' :[LName],
        'SearchResult':[searchresult], 
        'Headline':[headline], 
        'Location':[location], 
        'Company':[company],
        'School':[school],
        'Activites':[activities]    
        })
        df=df.append(tempdf)

In [101]:
names

array([['Megan Polnet'],
       ['Valerie Ho'],
       ['Katherine Nguyen'],
       ['Khary Pryce'],
       ['Maria Adiaconitei'],
       ['Ana Elhom']], dtype=object)

In [103]:
namelist

                name
0       Megan Polnet
1         Valerie Ho
2   Katherine Nguyen
3        Khary Pryce
4  Maria Adiaconitei
5          Ana Elhom

In [105]:
Name = []

In [108]:
namelist[0:1]

           name
0  Megan Polnet

In [118]:
df

,Name,LName,SearchResult,Headline,Location,Company,School,Activites
0,Eric Cruz,Eric Cruz,https://www.linkedin.com/in/eric-cruz-07124651/,Finance | IT | Data Science |,"New Rochelle, New York",Not Found,[],[]
0,name,Megan Polnet,https://www.linkedin.com/in/megan-polnet-27224...,Student Athlete,"North Miami Beach, Florida",,[Cornell University - College of Arts and Scie...,[]
0,name,Megan Polnet,https://www.linkedin.com/in/megan-polnet-27224...,Student Athlete,"North Miami Beach, Florida",,[Cornell University - College of Arts and Scie...,[]
0,[Megan Polnet],Megan Polnet,https://www.linkedin.com/in/megan-polnet-27224...,Student Athlete,"North Miami Beach, Florida",,[Cornell University - College of Arts and Scie...,[]
0,[Valerie Ho],Valerie Ho,https://www.linkedin.com/in/valeriehho/,Student-Athlete at Cornell University,Washington D.C. Metro Area,Sodexo,"[Cornell University, Montgomery Blair High Sch...","[Varsity Women's Tennis, Big Red Leadership In..."
0,[Katherine Nguyen],Katherine Nguyen,https://www.linkedin.com/in/katherine-nguyen-b...,Student-Athlete at Cornell University,Greater Los Angeles Area,SmartyPants Vitamins,"[Cornell University, Fountain Valley High School]","[Cornell Varsity Women's Tennis Team, Big Red ..."
0,[Khary Pryce],Khary Pryce,https://www.linkedin.com/in/khary-pryce-543470...,Peer Facilitator at Intergroup Dialogue Proje...,"Albany, New York Area",Cornell University,"[Cornell University, IMG Academy, McDonogh Sch...","[Varsity Tennis Team, Big Red Leadership Insti..."
0,[Maria Adiaconitei],Maria Adiaconitei,https://www.linkedin.com/in/maria-adiaconitei-...,Student at Cornell University,"Ithaca, New York Area",Washington Orthopaedics and Sports Medicine,[Cornell University],"[Varsity Tennis Team, Big Red Leadership Insti..."
0,[Ana Elhom],Ana Elhom,https://www.linkedin.com/in/ana-elhom-671565156/,Incoming Technical Operations Intern at Merck,Washington D.C. Metro Area,Merck,"[Cornell University, The Bullis School]",[Cornell Club Tennis Vice President | Cornell ...
0,[Megan Polnet],Megan Polnet,https://www.linkedin.com/in/megan-polnet-27224...,Student Athlete,"North Miami Beach, Florida",,[Cornell University - College of Arts and Scie...,[]
0,[Valerie Ho],Valerie Ho,https://www.linkedin.com/in/valeriehho/,Student-Athlete at Cornell University,Washington D.C. Metro Area,Sodexo,"[Cornell University, Montgomery Blair High Sch...","[Varsity Women's Tennis, Big Red Leadership In..."
0,[Katherine Nguyen],Katherine Nguyen,https://www.linkedin.com/in/katherine-nguyen-b...,Student-Athlete at Cornell University,Greater Los Angeles Area,SmartyPants Vitamins,"[Cornell University, Fountain Valley High School]","[Cornell Varsity Women's Tennis Team, Big Red ..."
0,[Khary Pryce],Khary Pryce,https://www.linkedin.com/in/khary-pryce-543470...,Peer Facilitator at Intergroup Dialogue Proje...,"Albany, New York Area",Cornell University,"[Cornell University, IMG Academy, McDonogh Sch...","[Varsity Tennis Team, Big Red Leadership Insti..."
0,[Maria Adiaconitei],Maria Adiaconitei,https://www.linkedin.com/in/maria-adiaconitei-...,Student at Cornell University,"Ithaca, New York Area",Washington Orthopaedics and Sports Medicine,[Cornell University],"[Varsity Tennis Team, Big Red Leadership Insti..."
0,[Ana Elhom],Ana Elhom,https://www.linkedin.com/in/ana-elhom-671565156/,Incoming Technical Operations Intern at Merck,Washington D.C. Metro Area,Merck,"[Cornell University, The Bullis School]",[Cornell Club Tennis Vice President | Cornell ...
0,None,Megan Polnet,https://www.linkedin.com/in/megan-polnet-27224...,Student Athlete,"North Miami Beach, Florida",,[Cornell University - College of Arts and Scie...,[]
0,None,Katherine Nguyen,https://www.linkedin.com/in/katherine-nguyen-b...,Student-Athlete at Cornell University,Greater Los Angeles Area,SmartyPants Vitamins,"[Cornell University, Fountain Valley High School]","[Cornell Varsity Women's Tennis Team, Big Red ..."
0,None,Maria Adiaconitei,https://www.linkedin.com/in/maria-adiaconitei-...,Student at Cornell University,"Ithaca, New York Area",Washington Orthopaedics and Sports Medicine,[Cornell University],"[Varsity Tennis Team, Big Red Leadership Insti..."
0,None,Megan Polnet,https://www.linkedin.com/in/megan-polnet-27224...,Student Athlete,"North Miami Beach, Florida",,[Cornell University - College of Arts and Scie...,[]
0,None,Valerie Ho,https://www.linkedin.com/in/valeriehho/,Student-Athlete at Cornell University,Washington D.C. Metro Area,Sodexo,"[Cornell University, Montgomery Blair High Sch...","[Varsity Women's Tennis, Big Red Leadership In..."
0,None,Katherine Nguyen,https://www.linkedin.com/in/katherine-nguyen-b...,Student-Athlete at Cornell University,Greater Los Angeles Area,SmartyPants Vitamins,"[Cornell University, Fountain Valley High School]","[Cornell Varsity Women's Tennis Team, Big Red ..."
0,None,Khary Pryce,https://www.linkedin.com/in/khary-pryce-543470...,Peer Facilitator at Intergroup Dialogue Proje...,"Albany, New York Area",Cornell University,"[Cornell University, IMG Academy, McDonogh Sch...","[Varsity Tennis Team, Big Red Leadership Insti..."
0,None,Maria Adiaconitei,https://www.linkedin.com/in/maria-adiaconitei-...,Student at Cornell University,"Ithaca, New York Area",Washington Orthopaedics and Sports Medicine,[Cornell University],"[Varsity Tennis Team, Big Red Leadership Insti..."
0,None,Ana Elhom,https://www.linkedin.com/in/ana-elhom-671565156/,Incoming Technical Operations Intern at Merck,Washington D.C. Metro Area,Merck,"[Cornell University, The Bullis School]",[Cornell Club Tennis Vice President | Cornell ...
0,None,Megan Polnet,https://www.linkedin.com/in/megan-polnet-27224...,Student Athlete,"North Miami Beach, Florida",,[Cornell University - College of Arts and Scie...,[]
0,None,Valerie Ho,https://www.linkedin.com/in/valeriehho/,Student-Athlete at Cornell University,Washington D.C. Metro Area,Sodexo,"[Cornell University, Montgomery Blair High Sch...","[Varsity Women's Tennis, Big Red Leadership In..."
0,None,Katherine Nguyen,https://www.linkedin.com/in/katherine-nguyen-b...,Student-Athlete at Cornell University,Greater Los Angeles Area,SmartyPants Vitamins,"[Cornell University, Fountain Valley High School]","[Cornell Varsity Women's Tennis Team, Big Red ..."
0,None,Khary Pryce,https://www.linkedin.com/in/khary-pryce-543470...,Peer Facilitator at Intergroup Dialogue Proje...,"Albany, New York Area",Cornell University,"[Cornell University, IMG Academy, McDonogh Sch...","[Varsity Tennis Team, Big Red Leadership Insti..."
0,None,Maria Adiaconitei,https://www.linkedin.com/in/maria-adiaconitei-...,Student at Cornell University,"Ithaca, New York Area",Washington Orthopaedics and Sports Medicine,[Cornell University],"[Varsity Tennis Team, Big Red Leadership Insti..."
0,None,Ana Elhom,https://www.linkedin.com/in/ana-elhom-671565156/,Incoming Technical Operations Intern at Merck,Washington D.C. Metro Area,Merck,"[Cornell University, The Bullis School]",[Cornell Club Tennis Vice President | Cornell ...
0,None,Megan Polnet,https://www.linkedin.com/in/megan-polnet-27224...,Student Athlete,"North Miami Beach, Florida",,[Cornell University - College of Arts and Scie...,[]
0,None,Valerie Ho,https://www.linkedin.com/in/valeriehho/,Student-Athlete at Cornell University,Washington D.C. Metro Area,Sodexo,"[Cornell University, Montgomery Blair High Sch...","[Varsity Women's Tennis, Big Red Leadership In..."
0,None,Katherine Nguyen,https://www.linkedin.com/in/katherine-nguyen-b...,Student-Athlete at Cornell University,Greater Los Angeles Area,SmartyPants Vitamins,"[Cornell University, Fountain Valley High School]","[Cornell Varsity Women's Tennis Team, Big Red ..."
0,None,Khary Pryce,https://www.linkedin.com/in/khary-pryce-543470...,Peer Facilitator at Intergroup Dialogue Proje...,"Albany, New York Area",Cornell University,"[Cornell University, IMG Academy, McDonogh Sch...","[Varsity Tennis Team, Big Red Leadership Insti..."
0,None,Maria Adiaconitei,https://www.linkedin.com/in/maria-adiaconitei-...,Student at Cornell University,"Ithaca, New York Area",Washington Orthopaedics and Sports Medicine,[Cornell University],"[Varsity Tennis Team, Big Red Leadership Insti..."
0,None,Ana Elhom,https://www.linkedin.com/in/ana-elhom-671565156/,Incoming Technical Operations Intern at Merck,Washington D.C. Metro Area,Merck,"[Cornell University, The Bullis School]",[Cornell Club Tennis Vice President | Cornell ...

In [117]:
df.tail()

,Name,LName,SearchResult,Headline,Location,Company,School,Activites
0,None,Valerie Ho,https://www.linkedin.com/in/valeriehho/,Student-Athlete at Cornell University,Washington D.C. Metro Area,Sodexo,"[Cornell University, Montgomery Blair High Sch...","[Varsity Women's Tennis, Big Red Leadership In..."
0,None,Katherine Nguyen,https://www.linkedin.com/in/katherine-nguyen-b...,Student-Athlete at Cornell University,Greater Los Angeles Area,SmartyPants Vitamins,"[Cornell University, Fountain Valley High School]","[Cornell Varsity Women's Tennis Team, Big Red ..."
0,None,Khary Pryce,https://www.linkedin.com/in/khary-pryce-543470...,Peer Facilitator at Intergroup Dialogue Proje...,"Albany, New York Area",Cornell University,"[Cornell University, IMG Academy, McDonogh Sch...","[Varsity Tennis Team, Big Red Leadership Insti..."
0,None,Maria Adiaconitei,https://www.linkedin.com/in/maria-adiaconitei-...,Student at Cornell University,"Ithaca, New York Area",Washington Orthopaedics and Sports Medicine,[Cornell University],"[Varsity Tennis Team, Big Red Leadership Insti..."
0,None,Ana Elhom,https://www.linkedin.com/in/ana-elhom-671565156/,Incoming Technical Operations Intern at Merck,Washington D.C. Metro Area,Merck,"[Cornell University, The Bullis School]",[Cornell Club Tennis Vice President | Cornell ...

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202 entries, 0 to 0
Data columns (total 8 columns):
Name            202 non-null object
LName           202 non-null object
SearchResult    202 non-null object
Headline        202 non-null object
Location        202 non-null object
Company         202 non-null object
School          202 non-null object
Activites       202 non-null object
dtypes: object(8)
memory usage: 14.2+ KB

In [23]:
df.describe()

,Name,LName,SearchResult,Headline,Location,Company,School,Activites
count,202,202,202,202,202,202,202,202
unique,202,200,200,194,109,147,132,86
top,[Elena Bennett],"Robert Brassell, Jr., N.Y.S.N.P.",https://www.linkedin.com/in/paulina-raguz-mack...,Student at Cornell University,Greater New York City Area,Not Found,[],[]
freq,1,2,2,5,34,42,42,116

In [24]:
df.isnull().sum()

Name            0
LName           0
SearchResult    0
Headline        0
Location        0
Company         0
School          0
Activites       0
dtype: int64

In [25]:
df["School"].value_counts()

[]                                                                                                         42
[Cornell University]                                                                                       28
[Columbia University - Graduate School of Journalism, Cornell University]                                   2
[Cornell University, Hillcrest Secondary School]                                                            2
[Emerson College, TEFL Institute]                                                                           1
                                                                                                           ..
[Joan & Sanford I. Weill Medical College of Cornell University, Fordham University, Cornell University]     1
[Cornell University, Nanuet Senior High School, Yale-New Haven Hospital]                                    1
[Boston University School of Law, Cornell University]                                                       1
[Cornell University, New Trier]                                                                             1
[Cornell University, University of Pennsylvania]                                                            1
Name: School, Length: 132, dtype: int64

In [26]:
#df.School.unique()

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df.columns

Index(['Name', 'LName', 'SearchResult', 'Headline', 'Location', 'Company',
       'School', 'Activites'],
      dtype='object')

In [31]:
df.to_csv("CornellWomenLinkedIn.csv", index=False)