In [1]:
import pandas as pd
import numpy as np
from nameparser import HumanName
import re
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process

In [2]:
dfroster = pd.read_csv('CornellM_RosterGroup.csv')
dflinkedin = pd.read_csv('CornellMenLinkedIn.csv')

In [3]:
dfroster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 341 entries, 0 to 340
Data columns (total 17 columns):
FirstLast      341 non-null object
Criteria       341 non-null object
FirstLast.1    341 non-null object
Year           341 non-null int64
YearsPlayed    341 non-null int64
RosterLink     81 non-null object
Hometown       228 non-null object
HS             225 non-null object
ClassYear      228 non-null object
College        341 non-null object
First          341 non-null object
Gender         341 non-null object
Last           341 non-null object
MidInit        105 non-null object
MidName        6 non-null object
Name           228 non-null object
RosterYear     228 non-null object
dtypes: int64(2), object(15)
memory usage: 45.4+ KB

In [4]:
dfroster['Gender'] = dfroster['Gender'] == 'M'
dfroster['Gender'] = dfroster['Gender'].astype(int)

In [5]:
dflinkedin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 8 columns):
Name            271 non-null object
LName           271 non-null object
SearchResult    271 non-null object
Headline        271 non-null object
Location        271 non-null object
Company         259 non-null object
School          271 non-null object
Activites       271 non-null object
dtypes: object(8)
memory usage: 17.1+ KB

In [6]:
dflinkedin.head()

,Name,LName,SearchResult,Headline,Location,Company,School,Activites
0,['Rohan Sikka'],Rohan Sikka,https://www.linkedin.com/in/rohan-sikka-b65032...,Incoming Private Equity Analyst at StepStone G...,"London, United Kingdom",Ares Management Corporation,['Cornell University'],[]
1,['Konstantin Kirovski'],Konstantin Kirovski,https://www.linkedin.com/in/konstantin-kirovsk...,Student at Cornell University,Slovenia,NaN,['Cornell University'],[]
2,['Alafia Ayeni'],Alafia Ayeni,https://www.linkedin.com/in/alafia-ayeni-b2326...,Student-Athlete at Cornell University,"San Diego, California",NaN,"['Cornell University', 'Westview High School']","[""Member of Cornell Men's Tennis""]"
3,['Pietro Rimondini'],Pietro Rimondini,https://www.linkedin.com/in/pietro-rimondini-7...,Student at Cornell University,"Ithaca, New York",Diadem Sports,"['Cornell University', 'Cornell University']",[]
4,['Christopher Levine'],Chris LeVine,https://www.linkedin.com/in/chrislevine/,Managing Director Institutional Fixed Income S...,Greater New York City Area,Jefferies,"['Cornell University', 'Cornell University']",[]

In [7]:
# Remove the brackets and single-quotes from the 'Name' string in each cell of the column 
dflinkedin['Name'] = dflinkedin['Name'].str.strip('[]').str.strip("''")

In [8]:
#dflinkedin['Name']

In [9]:
# First remove the brackets from the 'Name' string, then remove single quotes
# Optionally remove double space from Middle Initial/Name calc 
#dflinkedin['Name'] = dflinkedin['Name'].str.strip('[]').astype(str)
#dflinkedin['Name'] = dflinkedin['Name'].str.strip("''").astype(str)
#dflinkedin['Name'] = dflinkedin['Name'].str.replace('  ', ' ')

In [10]:
dflinkedin.head()

,Name,LName,SearchResult,Headline,Location,Company,School,Activites
0,Rohan Sikka,Rohan Sikka,https://www.linkedin.com/in/rohan-sikka-b65032...,Incoming Private Equity Analyst at StepStone G...,"London, United Kingdom",Ares Management Corporation,['Cornell University'],[]
1,Konstantin Kirovski,Konstantin Kirovski,https://www.linkedin.com/in/konstantin-kirovsk...,Student at Cornell University,Slovenia,NaN,['Cornell University'],[]
2,Alafia Ayeni,Alafia Ayeni,https://www.linkedin.com/in/alafia-ayeni-b2326...,Student-Athlete at Cornell University,"San Diego, California",NaN,"['Cornell University', 'Westview High School']","[""Member of Cornell Men's Tennis""]"
3,Pietro Rimondini,Pietro Rimondini,https://www.linkedin.com/in/pietro-rimondini-7...,Student at Cornell University,"Ithaca, New York",Diadem Sports,"['Cornell University', 'Cornell University']",[]
4,Christopher Levine,Chris LeVine,https://www.linkedin.com/in/chrislevine/,Managing Director Institutional Fixed Income S...,Greater New York City Area,Jefferies,"['Cornell University', 'Cornell University']",[]

In [11]:
dflinkedin['fuzz_ratio'] = dflinkedin.apply(lambda x: fuzz.ratio(x['Name'], x['LName']), axis=1)
dflinkedin['fuzz_pratio'] = dflinkedin.apply(lambda x: fuzz.partial_ratio(x['Name'], x['LName']), axis=1)
dflinkedin['fuzz_tokensort'] = dflinkedin.apply(lambda x: fuzz.token_sort_ratio(x['Name'], x['LName']), axis=1)
dflinkedin['fuzz_tokenset'] = dflinkedin.apply(lambda x: fuzz.token_set_ratio(x['Name'], x['LName']), axis=1)
dflinkedin['fuzz_wratio'] = dflinkedin.apply(lambda x: fuzz.WRatio(x['Name'], x['LName']), axis=1)

In [12]:
# Hardcode College value "Cornell" but later merge roster wtih LinkedIn and use field from Roster
dflinkedin['tennis_yn'] = dflinkedin['Activites'].str.lower().str.contains("tennis")
dflinkedin['School_yn'] = dflinkedin['School'].str.contains("Cornell")
dflinkedin['SameName_yn'] = (dflinkedin['Name'] == dflinkedin['LName'])
dflinkedin['SameName_yn'][dflinkedin['Name'].isna()] = np.nan
dflinkedin.tennis_yn = dflinkedin.tennis_yn.astype(int)
dflinkedin.School_yn = dflinkedin.School_yn.astype(int)
dflinkedin.SameName_yn = dflinkedin.SameName_yn.astype(int)
dflinkedin['SameTennis_yn'] = dflinkedin['tennis_yn'] + dflinkedin['SameName_yn']

C:\Users\19145\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [13]:
dflinkedin.rename(columns={'Name':'FirstLast'}, inplace=True)

In [14]:
dflinkedin.describe()

,fuzz_ratio,fuzz_pratio,fuzz_tokensort,fuzz_tokenset,fuzz_wratio,tennis_yn,School_yn,SameName_yn,SameTennis_yn
count,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000,271.000000
mean,79.040590,78.726937,80.608856,82.428044,83.055351,0.302583,0.841328,0.490775,0.793358
std,27.330254,26.876383,26.084374,25.236390,24.178056,0.460226,0.366046,0.500840,0.794490
min,11.000000,9.000000,13.000000,13.000000,16.000000,0.000000,0.000000,0.000000,0.000000
25%,61.500000,64.000000,65.500000,70.000000,72.500000,0.000000,1.000000,0.000000,0.000000
50%,93.000000,100.000000,100.000000,100.000000,100.000000,0.000000,1.000000,0.000000,1.000000
75%,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000,1.000000,1.000000,1.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000,1.000000,1.000000,2.000000

In [15]:
dflinkedin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 17 columns):
FirstLast         271 non-null object
LName             271 non-null object
SearchResult      271 non-null object
Headline          271 non-null object
Location          271 non-null object
Company           259 non-null object
School            271 non-null object
Activites         271 non-null object
fuzz_ratio        271 non-null int64
fuzz_pratio       271 non-null int64
fuzz_tokensort    271 non-null int64
fuzz_tokenset     271 non-null int64
fuzz_wratio       271 non-null int64
tennis_yn         271 non-null int32
School_yn         271 non-null int32
SameName_yn       271 non-null int32
SameTennis_yn     271 non-null int32
dtypes: int32(4), int64(5), object(8)
memory usage: 31.9+ KB

In [16]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [17]:
df_suffix = pd.merge(dfroster, dflinkedin,
                     left_on='FirstLast', right_on='FirstLast', how='outer',suffixes=('_R','_L'))

In [18]:
df_suffix['Decade'] = df_suffix['Year']//10*10

In [19]:
df_suffix.drop(columns=['FirstLast.1'], inplace=True)

In [20]:
df_suffix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 341 entries, 0 to 340
Data columns (total 33 columns):
FirstLast         341 non-null object
Criteria          341 non-null object
Year              341 non-null int64
YearsPlayed       341 non-null int64
RosterLink        81 non-null object
Hometown          228 non-null object
HS                225 non-null object
ClassYear         228 non-null object
College           341 non-null object
First             341 non-null object
Gender            341 non-null int32
Last              341 non-null object
MidInit           105 non-null object
MidName           6 non-null object
Name              228 non-null object
RosterYear        228 non-null object
LName             271 non-null object
SearchResult      271 non-null object
Headline          271 non-null object
Location          271 non-null object
Company           259 non-null object
School            271 non-null object
Activites         271 non-null object
fuzz_ratio        271 non-null float64
fuzz_pratio       271 non-null float64
fuzz_tokensort    271 non-null float64
fuzz_tokenset     271 non-null float64
fuzz_wratio       271 non-null float64
tennis_yn         271 non-null float64
School_yn         271 non-null float64
SameName_yn       271 non-null float64
SameTennis_yn     271 non-null float64
Decade            341 non-null int64
dtypes: float64(9), int32(1), int64(3), object(20)
memory usage: 89.2+ KB

In [21]:
#df_suffix.to_csv('RosterLinkedIn_CornellM.csv', index=False)

In [22]:
df_suffix.sort_values('Year')

,FirstLast,Criteria,Year,YearsPlayed,RosterLink,Hometown,HS,ClassYear,College,First,Gender,Last,MidInit,MidName,Name,RosterYear,LName,SearchResult,Headline,Location,Company,School,Activites,fuzz_ratio,fuzz_pratio,fuzz_tokensort,fuzz_tokenset,fuzz_wratio,tennis_yn,School_yn,SameName_yn,SameTennis_yn,Decade
113,John Smith,Cornell,1947,1,NaN,"Binghamton, N.Y.",Central H.,['Senior'],Cornell University,John,1,Smith,V.,NaN,John V. Smith,"[""1946-47 Men's Tennis Roster""]",john smith,https://www.linkedin.com/in/john-smith-71730b67/,Student at Cornell University,"Brooklyn, New York",Not Found,['Cornell University'],[],80.0,80.0,100.0,100.0,100.0,0.0,1.0,0.0,0.0,1940
67,Edward Gilbert,Cornell,1947,1,NaN,"Huntington, N.Y.",Horace Mann HS,['Sophomore'],Cornell University,Edward,1,Gilbert,H.,NaN,Edward H. Gilbert,"[""1946-47 Men's Tennis Roster""]",Ed Gilbert,https://www.linkedin.com/in/ed-gilbert-466b412/,Human Resources Consultant,Greater Minneapolis-St. Paul Area,SCORE,['Cornell University'],[],83.0,90.0,83.0,83.0,83.0,0.0,1.0,0.0,0.0,1940
117,Jordan Dingle,Cornell,1947,1,NaN,"Dover, Del.",Dover H.,['Senior'],Cornell University,Jordan,1,Dingle,K.,NaN,Jordan K. Dingle,"[""1946-47 Men's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940
187,Robert Rubin,Cornell,1947,1,NaN,"Washington, DC.",Batto Poly.,['Junior'],Cornell University,Robert,1,Rubin,J.,NaN,Robert J. Rubin,"[""1946-47 Men's Tennis Roster""]",Robert Rubin,https://www.linkedin.com/in/robert-rubin-0a9a008/,"Special Counsel at McCarter & English, LLP",Greater New York City Area,"McCarter & English, LLP","['Cornell University', 'Columbia University Sc...",['Sigma Alpha Mu\nChi Epsilon'],100.0,100.0,100.0,100.0,100.0,0.0,1.0,1.0,1.0,1940
56,David Potter,Cornell,1947,1,NaN,"E. Rochester, NY",E. Rochester,['Junior'],Cornell University,David,1,Potter,F.,NaN,David F. Potter,"[""1946-47 Men's Tennis Roster""]",Dave Potter,https://www.linkedin.com/in/dave-potter-33130633/,Independent Farming Professional,"Richland/Kennewick/Pasco, Washington Area",Wheatland Express,"['Cornell University', 'Whitworth University']",[],87.0,82.0,87.0,87.0,87.0,0.0,1.0,0.0,0.0,1940
178,Richard Gnaedinger,Cornell,1947,1,NaN,"Oak Park, Ill.",Oak Park H.,['Freshman'],Cornell University,Richard,1,Gnaedinger,C.,NaN,Richard C. Gnaedinger,"[""1946-47 Men's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940
86,Hollis Young,Cornell,1948,2,NaN,"Brookville, NY.",Hill School,['Junior' 'Senior'],Cornell University,Hollis,1,Young,D.,NaN,Hollis D. Young,"[""1946-47 Men's Tennis Roster"" ""1947-48 Men's ...",Melinda Reyes,https://www.linkedin.com/in/melinda-reyes-7714...,Payment Processing Solutions Expert - with ove...,"Hollis, New York",Premier Merchant Consulting Services,"['Cornell University', 'Jamaica High School']",['Public Relations Student Society of America\...,24.0,25.0,32.0,32.0,32.0,0.0,1.0,0.0,0.0,1940
162,Paul Lansaw,Cornell,1948,2,NaN,"Middletown, Ohio",Middletown H.,['Freshman' 'Sophomore'],Cornell University,Paul,1,Lansaw,NaN,NaN,Paul Lansaw,"[""1946-47 Men's Tennis Roster"" ""1947-48 Men's ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940
189,Robert Corrigan,Cornell,1948,2,NaN,"Baltimore, MD.",Northwestern College,['Freshman' 'Sophomore'],Cornell University,Robert,1,Corrigan,W.,NaN,Robert W. Corrigan,"[""1946-47 Men's Tennis Roster"" ""1947-48 Men's ...",Grant Marani,https://www.linkedin.com/in/grant-marani-4195056/,"Partner, Robert A.M. Stern Architects",Greater New York City Area,Robert A.M. Stern Architects,"['Cornell University', 'University of Melbourne']",[],44.0,52.0,37.0,37.0,44.0,0.0,1.0,0.0,0.0,1940
190,Rod de Llano,Cornell,1948,2,NaN,"Laredo, Tex.",Laredo H.,['Sophomore' 'Junior'],Cornell University,Rod,1,de Llano,R.,NaN,Rod R. de Llano,"[""1946-47 Men's Tennis Roster"" ""1947-48 Men's ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940
191,Rodgers Heiss,Cornell,1948,1,NaN,"Gulfport, Miss.",Shady Side A.,['Junior'],Cornell University,Rodgers,1,Heiss,H.,NaN,Rodgers H. Heiss,"[""1947-48 Men's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940
14,Arthur Gorstenfeld,Cornell,1948,2,NaN,"Brooklyn, N.Y.",Midwood H.,['Freshman' 'Sophomore'],Cornell University,Arthur,1,Gorstenfeld,NaN,NaN,Arthur Gorstenfeld,"[""1946-47 Men's Tennis Roster"" ""1947-48 Men's ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940
221,William Easton,Cornell,1948,1,NaN,"New York, NY.",Poly Prep,['Junior'],Cornell University,William,1,Easton,L.,NaN,William L. Easton,"[""1947-48 Men's Tennis Roster""]",Bill Bosak,https://www.linkedin.com/in/billbosak/,Delivering growth through innovation,Greater New York City Area,Tata Consultancy Services,"['Cornell University', 'Fairfield College Prep...",['Pi Kappa Alpha'],42.0,50.0,33.0,33.0,42.0,0.0,1.0,0.0,0.0,1940
108,John Penn,Cornell,1949,3,NaN,"Forest Hills, N.Y.",NeBurney P.,['Sophomore' 'Junior' 'Senior'],Cornell University,John,1,Penn,N.,NaN,John N. Penn,"[""1946-47 Men's Tennis Roster"" ""1947-48 Men's ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940
180,Richard Goldstein,Cornell,1949,2,NaN,"Rochester, NY.",Brighton HS,['Junior' 'Senior'],Cornell University,Richard,1,Goldstein,N.,NaN,Richard N. Goldstein,"[""1947-48 Men's Tennis Roster"" ""1948-49 Men's ...",Richard Goldstein,https://www.linkedin.com/in/richard-goldstein-...,Senior Principal and State and Local Tax Co-Le...,"New York, New York",Berdon LLP,"['Fordham Law School', 'Cornell University']",[],100.0,100.0,100.0,100.0,100.0,0.0,1.0,1.0,1.0,1940
95,James Kennedy,Cornell,1950,4,NaN,"Grosse Pointe, Mich",Grosse Pointe,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,James,1,Kennedy,R.,NaN,James R. Kennedy,"[""1946-47 Men's Tennis Roster"" ""1947-48 Men's ...",Jim Kennedy,https://www.linkedin.com/in/jim-kennedy-53379b5/,Sales Representative at Jaco Electronics,Greater New York City Area,Jaco Electronics,['Cornell University'],[],83.0,82.0,83.0,83.0,83.0,0.0,1.0,0.0,0.0,1950
132,Kirk Reid,Cornell,1950,3,NaN,"E. Cleveland, O.",Shaw HS.,['Sophomore' 'Junior' 'Senior'],Cornell University,Kirk,1,Reid,M.,NaN,Kirk M. Reid,"[""1947-48 Men's Tennis Roster"" ""1948-49 Men's ...",Kirk Mettler,https://www.linkedin.com/in/kirkmettler/,Chief Data Scientist and R guy at IBM,Greater New York City Area,IBM,['Columbia University - Fu Foundation School o...,[],57.0,67.0,57.0,62.0,59.0,0.0,1.0,0.0,0.0,1950
182,Richard Savitt,Cornell,1950,4,NaN,"H.E. Orange, NJ",El Paso (Tex.),['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Richard,1,Savitt,NaN,NaN,Richard Savitt,"[""1946-47 Men's Tennis Roster"" ""1947-48 Men's ...",Richard Rosenberg,https://www.linkedin.com/in/richard-rosenberg-...,"Founding Partner at Ballard, Rosenberg, Golper...",Greater Los Angeles Area,"Ballard, Rosenberg, Golper & Savitt LLP","['Santa Clara University School of Law', 'Corn...",[],52.0,57.0,58.0,67.0,64.0,0.0,1.0,0.0,0.0,1950
139,Leonard Steiner,Cornell,1950,4,NaN,"Brooklyn, NY.",Brooklyn Tech.,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Leonard,1,Steiner,L.,NaN,Leonard L. Steiner,"[""1946-47 Men's Tennis Roster"" ""1947-48 Men's ...",Michael A. Martinez,https://www.linkedin.com/in/michaelmartinez80/,Media Professional,Greater Atlanta Area,Crafty Apes VFX,"['University of Nevada-Las Vegas', 'University...","['UNLV Film Club', 'UAF Film Club']",41.0,47.0,36.0,36.0,41.0,0.0,0.0,0.0,0.0,1950
78,Gordon Gardiner,Cornell,1950,4,NaN,"Ridgewood, NJ",Ridgewood HS,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Gordon,1,Gardiner,NaN,NaN,Gordon Gardiner,"[""1946-47 Men's Tennis Roster"" ""1947-48 Men's ...",Melissa Gardiner,https://www.linkedin.com/in/melissamaymusic/,"Musician, Manager @ The Silver Arrow Band; Tro...","Syracuse, New York",Silver Arrow Band,"['The Juilliard School', 'University of Michig...",[],58.0,60.0,58.0,70.0,66.0,0.0,0.0,0.0,0.0,1950
106,John Riihiluoma,Cornell,1950,4,NaN,"Pembroke, Bermuda",Hill School,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,John,1,Riihiluoma,E.,NaN,John E. Riihiluoma,"[""1946-47 Men's Tennis Roster"" ""1947-48 Men's ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
104,John Keenan,Cornell,1951,1,NaN,"Dayton, O.",Oakwood HS,['Senior'],Cornell University,John,1,Keenan,B.,NaN,John B. Keenan,"[""1950-51 Men's Tennis Roster""]",Kelly Keenan Trumpbour,https://www.linkedin.com/in/kelly-keenan-trump...,Advisor at She Stacks,"Baltimore, Maryland",Not Found,[],[],42.0,64.0,36.0,71.0,86.0,0.0,0.0,0.0,0.0,1950
215,Walter Dockerill,Cornell,1951,3,NaN,"Larchmont, NY.",Iona,['Sophomore' 'Junior' 'Senior'],Cornell University,Walter,1,Dockerill,J.,NaN,Walter J. Dockerill,"[""1948-49 Men's Tennis Roster"" ""1949-50 Men's ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
222,William Swirbal,Cornell,1951,1,NaN,"Bay Shore, NY.",St. George's,['Sophomore'],Cornell University,William,1,Swirbal,R.,NaN,William R. Swirbal,"[""1950-51 Men's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
81,Henry Hinden,Cornell,1951,1,NaN,"Lawrence, NY.",Lawrence HS,['Sophomore'],Cornell University,Henry,1,Hinden,NaN,NaN,Henry Hinden,"[""1950-51 Men's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
207,Thomas Haas,Cornell,1951,1,NaN,"Wavwatosa, Wis.",Wavwatosa HS,['Sophomore'],Cornell University,Thomas,1,Haas,O.,NaN,Thomas O. Haas,"[""1950-51 Men's Tennis Roster""]",Thomas Haas,https://www.linkedin.com/in/thomas-haas-61229011/,Vice President of Food & Beverage at Noble Hou...,Greater Seattle Area,Noble House Hotels & Resorts,"['Cornell University', 'German College of Hote...",[],100.0,100.0,100.0,100.0,100.0,0.0,1.0,1.0,1.0,1950
176,Reginald Rice,Cornell,1951,1,NaN,"Wilmette, Ill.",New Trier HS,['Senior'],Cornell University,Reginald,1,Rice,W.,NaN,Reginald W. Rice,"[""1950-51 Men's Tennis Roster""]",Ray Tsuchiyama,https://www.linkedin.com/in/tsuchiyama/,APAC/Global Revenues Growth Partner/Real Estat...,"Honolulu, Hawaii",Cushman & Wakefield,"['University of Massachusetts Amherst', 'Asia ...",[],30.0,31.0,30.0,30.0,30.0,0.0,0.0,0.0,0.0,1950
27,Bruce Welsh,Cornell,1951,1,NaN,"Orlando, Fla.",Asheville,['Senior'],Cornell University,Bruce,1,Welsh,H.,NaN,Bruce H. Welsh,"[""1950-51 Men's Tennis Roster""]",Huibo Shao,https://www.linkedin.com/in/huibo-shao-80078389/,"Strategic Advisor, Health Analytics, FedEx Ser...","Germantown, Tennessee",FedEx Services,"['University of Illinois at Urbana-Champaign',...",[],29.0,30.0,38.0,38.0,38.0,0.0,0.0,0.0,0.0,1950
137,Lee Saperston,Cornell,1951,1,NaN,"Buffalo, NY.",Nichols,['Sophomore'],Cornell University,Lee,1,Saperston,R.,NaN,Lee R. Saperston,"[""1950-51 Men's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
84,Herbert Doree,Cornell,1952,3,NaN,"Barrington, Ill.",Choate,['Sophomore' 'Junior' 'Senior'],Cornell University,Herbert,1,Doree,A.,NaN,Herbert A. Doree,"[""1949-50 Men's Tennis Roster"" ""1950-51 Men's ...",Doreen Baptiste,https://www.linkedin.com/in/doreen-baptiste-62...,Director of Student Services at NYCMCS,"Bronx, New York",NYCMCS,"['Center for Montessori Education', 'City Univ...",['AFRICAN AMERICAN & WOMEN STUDIES'],36.0,38.0,36.0,36.0,36.0,0.0,1.0,0.0,0.0,1950
183,Robert Alexander,Cornell,1952,2,NaN,"Waco, Tex.",Waco HS,['Senior' 'Graduate Student'],Cornell University,Robert,1,Alexander,B.,NaN,Robert B. Alexander,"[""1950-51 Men's Tennis Roster"" ""1951-52 Men's ...",Bob Alexander,https://www.linkedin.com/in/bob-alexander-a968...,"President at Alexander & Associates and Owner,...",Greater New York City Area,Alexander & Associates,['Cornell University'],[],83.0,77.0,83.0,83.0,83.0,0.0,1.0,0.0,0.0,1950
74,George Kennedy,Cornell,1952,2,NaN,"Grosse Pointe, Mic",Grosse Pointe HS,['Junior' 'Senior'],Cornell University,George,1,Kennedy,M.,NaN,George M. Kennedy,"[""1950-51 Men's Tennis Roster"" ""1951-52 Men's ...",David Lytel,https://www.linkedin.com/in/davidlytel/,Internet strategist and online business develo...,Washington D.C. Metro Area,Democrats.com,"['Cornell University', 'Ithaca College', 'Brow...",['Doctoral dissertation -- Media Regimes and P...,16.0,18.0,16.0,16.0,16.0,0.0,1.0,0.0,0.0,1950
26,Bruce Boselli,Cornell,1952,1,NaN,"Union City, NJ.",Blair,['Sophomore'],Cornell University,Bruce,1,Boselli,NaN,NaN,Bruce Boselli,"[""1951-52 Men's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
18,Bernard Pinn,Cornell,1952,1,NaN,"Bedford, NY.",Exeter,['Sophomore'],Cornell University,Bernard,1,Pinn,NaN,NaN,Bernard Pinn,"[""1951-52 Men's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
138,Leland McCormac,Cornell,1952,1,NaN,"Syracuse, NY.",Peddie,['Sophomore'],Cornell University,Leland,1,McCormac,D,NaN,Leland D McCormac,"[""1951-52 Men's Tennis Roster""]",Kristen McCormack,https://www.linkedin.com/in/kristenmccormack/,Ph.D. Candidate at Harvard University,"Cambridge, Massachusetts",Harvard University,"['Harvard University', 'Pomona College', 'Boul...","[""President's Advisory Committee on Sustainabi...",69.0,73.0,69.0,69.0,69.0,0.0,0.0,0.0,0.0,1950
29,C. Warren Haas,Cornell,1953,3,NaN,"Reading, Pa.",Reading HS,['Sophomore' 'Junior' 'Senior'],Cornell University,C.,1,Haas,Warren,Warren,C. Warren Haas,"[""1950-51 Men's Tennis Roster"" ""1951-52 Men's ...",C Warren Haas,https://www.linkedin.com/in/c-warren-haas-3130...,President at Self Employed,Greater Philadelphia Area,Self Employed,"['Cornell University', 'UCLA']",[],96.0,92.0,100.0,100.0,96.0,0.0,1.0,0.0,0.0,1950
112,John Clarkson,Cornell,1953,2,NaN,"St. Louis, Mo.",Country Day,['Sophomore' 'Junior'],Cornell University,John,1,Clarkson,T.,NaN,John T. Clarkson,"[""1951-52 Men's Tennis Roster"" ""1952-53 Men's ...",John Sammis,https://www.linkedin.com/in/john-sammis-56a7443/,Senior Data Scientist at CCS Fundraising,"Ithaca, New York",CCS Fundraising,['Cornell University - S.C. Johnson Graduate S...,[],58.0,64.0,33.0,58.0,58.0,0.0,1.0,0.0,0.0,1950
87,Idwal Hughes,Cornell,1953,2,NaN,"Bailey's Bay, Bermuda",Whitney (Bermuda),['Sophomore' 'Junior'],Cornell University,Idwal,1,Hughes,NaN,NaN,Idwal Hughes,"[""1951-52 Men's Tennis Roster"" ""1952-53 Men's ...",Idwal Hughes,https://www.linkedin.com/in/idwal-hughes-02aa8...,senator at North Rock Communications,Bermuda,North Rock Communications,['Univ. Of Flprida'],[],100.0,100.0,100.0,100.0,100.0,0.0,0.0,1.0,1.0,1950
141,Lewis Gaty,Cornell,1953,2,NaN,"Merion, Pa.",Lower Merion HS,['Sophomore' 'Junior'],Cornell University,Lewis,1,Gaty,R.,NaN,Lewis R. Gaty,"[""1951-52 Men's Tennis Roster"" ""1952-53 Men's ...",Gary Lewis,https://www.linkedin.com/in/gary-lewis-28732850/,Project Architect at Dreyfuss + Blackford Arch...,"Sacramento, California Area",Not Found,[],[],50.0,50.0,90.0,90.0,86.0,0.0,0.0,0.0,0.0,1950
161,Paul Bomze,Cornell,1953,1,NaN,"Philadelphia, Pa.",Central HS,['Senior'],Cornell University,Paul,1,Bomze,E.,NaN,Paul E. Bomze,"[""1952-53 Men's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
44,Colin Tait,Cornell,1953,2,NaN,"Cresskill, NJ.",Tenafly HS,['Sophomore' 'Junior'],Cornell University,Colin,1,Tait,C.,NaN,Colin C. Tait,"[""1951-52 Men's Tennis Roster"" ""1952-53 Men's ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
3,Albert Trostel,Cornell,1953,1,NaN,"Milkauwee, Wis.",Exeter,['Sophomore'],Cornell University,Albert,1,Trostel,O.,NaN,Albert O. Trostel,"[""1952-53 Men's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
107,John Stockum,Cornell,1953,3,NaN,"Dayton, O.",Oakwood HS,['Sophomore' 'Junior' 'Senior'],Cornell University,John,1,Stockum,E.,NaN,John E. Stockum,"[""1950-51 Men's Tennis Roster"" ""1951-52 Men's ...",Simon Stevenson,https://www.linkedin.com/in/sistevenson/,John and Rosalind Jacobi Family Professor of R...,"Seattle, Washington",Journal of Real Estate Portfolio Management,['UCD Michael Smurfit Graduate Business School...,[],44.0,50.0,44.0,44.0,44.0,0.0,0.0,0.0,0.0,1950
175,Raymond Howes,Cornell,1953,1,NaN,Washington DC,Ithaca HS,['Sophomore'],Cornell University,Raymond,1,Howes,T.,NaN,Raymond T. Howes,"[""1952-53 Men's Tennis Roster""]",Eric Radzak,https://www.linkedin.com/in/eric-radzak-7306952/,Corporate Development Officer at Nicolet Natio...,"Green Bay, Wisconsin Area",Nicolet National Bank,"['Cornell College', 'Superior Senior High Scho...","[""Captain of Men's Golf Team; \nPresident of M...",25.0,9.0,42.0,42.0,40.0,0.0,1.0,0.0,0.0,1950
102,John Davidge,Cornell,1954,2,NaN,"Binghamton, NY.",Central HS,['Sophomore' 'Junior'],Cornell University,John,1,Davidge,NaN,NaN,John Davidge,"[""1952-53 Men's Tennis Roster"" ""1953-1954 Men'...",Tracey M. MacCharles CPHR,https://www.linkedin.com/in/halifaxrecruiter/,Currently seeking world class shipbuilders to ...,"Halifax, Canada Area","J.D. Irving, Limited",['Canadian Council of Human Resources Associat...,[],16.0,25.0,17.0,17.0,22.0,0.0,1.0,0.0,0.0,1950
94,James Shoffner,Cornell,1954,2,NaN,"Knoxville, Tenn.",McCallie,['Sophomore' 'Senior'],Cornell University,James,1,Shoffner,P.,NaN,James P. Shoffner,"[""1951-52 Men's Tennis Roster"" ""1953-1954 Men'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
83,Henry Strunk,Cornell,1954,1,NaN,"Wyomissing, Pa.",Wyomissing HS,['Sophomore'],Cornell University,Henry,1,Strunk,K.,NaN,Henry K. Strunk,"[""1953-1954 Men's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
80,Harry Kirsch,Cornell,1954,3,NaN,"Newfane, Vt.",Rosenberd (Switzerland),['Sophomore' 'Junior' 'Senior'],Cornell University,Harry,1,Kirsch,R.,NaN,Harry R. Kirsch,"[""1951-52 Men's Tennis Roster"" ""1952-53 Men's ...",Harry Kirsch,https://www.linkedin.com/in/harry-kirsch-b8545...,--,United States,NaN,['Cornell University'],['Varsity Tennis Team'],100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,1950
77,Gilmore Rothrock,Cornell,1954,3,NaN,"New Cumberland, Pa.",The Hill School,['Sophomore' 'Junior' 'Senior'],Cornell University,Gilmore,1,Rothrock,M.,NaN,Gilmore M. Rothrock,"[""1951-52 Men's Tennis Roster"" ""1952-53 Men's ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950
136,Lawrence Brown,Cornell,1954,1,NaN,"Highland Park, Ill.",Highland Park HS,['Sophomore'],Cornell University,Lawrence,1,Brown,H.,NaN,Lawrence H. Brown,"[""1953-1954 Men's Tennis Roster""]","Lawrence S. Brown, Jr., MD, MPH, FACP, DFASAM",https://www.linkedin.com/in/lawrence-s-brown-j...,Committee Member at Citizens Coinage Advisory ...,"Brooklyn, New York","Citizens Coinage Advisory Committee, United St...",['Columbia University Vagelos College of Physi...,[],47.0,79.0,54.0,100.0,86.0,0.0,0.0,0.0,0.0,1950
20,Bernard Finn,Cornell,1954,2,NaN,"Bedford Hills, NY.",Exeter,['Junior' 'Senior'],Cornell University,Bernard,1,Finn,S.,NaN,Bernard S. Finn,"[""1952-53 Men's Tennis Roster"" ""1953-1954 Men'...",Bernard Finn,https://www.linkedin.com/in/bernard-finn-07608...,--,United States,Not Found,[],[],100.0,100.0,100.0,100.0,100.0,0.0,0.0,1.0,1.0,1950
43,Clyde Barker,Cornell,1954,2,NaN,"Salt Lake City, Utah.",Exeter,['Junior' 'Senior'],Cornell University,Clyde,1,Barker,F.,NaN,Clyde F. Barker,"[""1952-53 Men's Tennis Roster"" ""1953-1954 Men'...",Sanjeethan Baksh,https://www.linkedin.com/in/sanjeethan-baksh-4...,MD-PhD Candidate at Weill Cornell/Rockefeller/...,"New York, New York",Weill Cornell/Rockefeller/Sloan Kettering Tri-...,['Weill Cornell/Rockefeller/Sloan Kettering Tr...,"['Co-president, Q! Queer Health Alliance\nCo-f...",36.0,43.0,36.0,36.0,36.0,0.0,1.0,0.0,0.0,1950