In [1]:
import pandas as pd
import numpy as np
from nameparser import HumanName
import re
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process

/opt/anaconda3/lib/python3.7/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
dfroster = pd.read_csv('YaleW_group.csv')
dflinkedin = pd.read_csv('CornellWomenLinkedIn.csv')

In [3]:
dfroster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 17 columns):
FirstLast      272 non-null object
Criteria       272 non-null object
FirstLast.1    272 non-null object
Year           272 non-null int64
YearsPlayed    272 non-null int64
RosterLink     56 non-null object
Hometown       167 non-null object
HS             167 non-null object
ClassYear      167 non-null object
College        272 non-null object
First          272 non-null object
Gender         272 non-null object
Last           272 non-null object
MidInit        3 non-null object
MidName        3 non-null object
Name           167 non-null object
RosterYear     167 non-null object
dtypes: int64(2), object(15)
memory usage: 36.2+ KB

In [4]:
dfroster['Gender'] = dfroster['Gender'] == 'M'
dfroster['Gender'] = dfroster['Gender'].astype(int)

In [5]:
dflinkedin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 8 columns):
Name            201 non-null object
LName           201 non-null object
SearchResult    201 non-null object
Headline        201 non-null object
Location        201 non-null object
Company         195 non-null object
School          201 non-null object
Activites       201 non-null object
dtypes: object(8)
memory usage: 12.7+ KB

In [6]:
dflinkedin.head()

,Name,LName,SearchResult,Headline,Location,Company,School,Activites
0,['Megan Polnet'],Megan Polnet,https://www.linkedin.com/in/megan-polnet-27224...,Student Athlete,"North Miami Beach, Florida",NaN,['Cornell University - College of Arts and Sci...,[]
1,['Sarah Campbell'],Sarah Campbell,https://www.linkedin.com/in/sarah-campbell-241...,Student Athlete,Greater Boston Area,Nawshawtuc Country Club,"['Cornell University', 'Lincoln-Sudbury Region...","[""Women's Varsity Tennis (2018-present), Big R..."
2,['Michelle Deng'],Michele Marass,https://www.linkedin.com/in/michele-marass/,PhD | Scientific Editor at Nature Communicatio...,"London, Greater London, United Kingdom",Springer Nature,"['Max Planck Society', 'Scuola Internazionale ...",['Member of the International Max Planck Resea...
3,['Ashley Huang'],Rob Reid,https://www.linkedin.com/in/rwreid/,Research Assistant Professor at University of ...,"Harrisburg, North Carolina",Not Found,[],[]
4,['Valerie Ho'],Valerie Ho,https://www.linkedin.com/in/valeriehho/,Student-Athlete at Cornell University,Washington D.C. Metro Area,Sodexo,"['Cornell University', 'Montgomery Blair High ...","[""Varsity Women's Tennis, Big Red Leadership I..."

In [7]:
# Remove the brackets and single-quotes from the 'Name' string in each cell of the column 
dflinkedin['Name'] = dflinkedin['Name'].str.strip('[]').str.strip("''")

In [8]:
#dflinkedin['Name']

In [9]:
# Manually correct bad spelling from roster download
dflinkedin['Name'][12] = 'Maria Perez de la Llave'
dflinkedin['Name'][36] = 'Lusiné Mehrabyan'
dflinkedin['Name'][85] = 'Kim Gantz'

In [10]:
# First remove the brackets from the 'Name' string, then remove single quotes
# Optionally remove double space from Middle Initial/Name calc 
#dflinkedin['Name'] = dflinkedin['Name'].str.strip('[]').astype(str)
#dflinkedin['Name'] = dflinkedin['Name'].str.strip("''").astype(str)
#dflinkedin['Name'] = dflinkedin['Name'].str.replace('  ', ' ')

In [11]:
dflinkedin.head()

,Name,LName,SearchResult,Headline,Location,Company,School,Activites
0,Megan Polnet,Megan Polnet,https://www.linkedin.com/in/megan-polnet-27224...,Student Athlete,"North Miami Beach, Florida",NaN,['Cornell University - College of Arts and Sci...,[]
1,Sarah Campbell,Sarah Campbell,https://www.linkedin.com/in/sarah-campbell-241...,Student Athlete,Greater Boston Area,Nawshawtuc Country Club,"['Cornell University', 'Lincoln-Sudbury Region...","[""Women's Varsity Tennis (2018-present), Big R..."
2,Michelle Deng,Michele Marass,https://www.linkedin.com/in/michele-marass/,PhD | Scientific Editor at Nature Communicatio...,"London, Greater London, United Kingdom",Springer Nature,"['Max Planck Society', 'Scuola Internazionale ...",['Member of the International Max Planck Resea...
3,Ashley Huang,Rob Reid,https://www.linkedin.com/in/rwreid/,Research Assistant Professor at University of ...,"Harrisburg, North Carolina",Not Found,[],[]
4,Valerie Ho,Valerie Ho,https://www.linkedin.com/in/valeriehho/,Student-Athlete at Cornell University,Washington D.C. Metro Area,Sodexo,"['Cornell University', 'Montgomery Blair High ...","[""Varsity Women's Tennis, Big Red Leadership I..."

In [12]:
dflinkedin['fuzz_ratio'] = dflinkedin.apply(lambda x: fuzz.ratio(x['Name'], x['LName']), axis=1)
dflinkedin['fuzz_pratio'] = dflinkedin.apply(lambda x: fuzz.partial_ratio(x['Name'], x['LName']), axis=1)
dflinkedin['fuzz_tokensort'] = dflinkedin.apply(lambda x: fuzz.token_sort_ratio(x['Name'], x['LName']), axis=1)
dflinkedin['fuzz_tokenset'] = dflinkedin.apply(lambda x: fuzz.token_set_ratio(x['Name'], x['LName']), axis=1)
dflinkedin['fuzz_wratio'] = dflinkedin.apply(lambda x: fuzz.WRatio(x['Name'], x['LName']), axis=1)

In [13]:
# Hardcode College value "Cornell" but later merge roster wtih LinkedIn and use field from Roster
dflinkedin['tennis_yn'] = dflinkedin['Activites'].str.lower().str.contains("tennis")
dflinkedin['School_yn'] = dflinkedin['School'].str.contains("Cornell")
dflinkedin['SameName_yn'] = (dflinkedin['Name'] == dflinkedin['LName'])
dflinkedin['SameName_yn'][dflinkedin['Name'].isna()] = np.nan
dflinkedin.tennis_yn = dflinkedin.tennis_yn.astype(int)
dflinkedin.School_yn = dflinkedin.School_yn.astype(int)
dflinkedin.SameName_yn = dflinkedin.SameName_yn.astype(int)
dflinkedin['SameTennis_yn'] = dflinkedin['tennis_yn'] + dflinkedin['SameName_yn']

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [14]:
dflinkedin.rename(columns={'Name':'FirstLast'}, inplace=True)

In [15]:
dflinkedin.describe()

,fuzz_ratio,fuzz_pratio,fuzz_tokensort,fuzz_tokenset,fuzz_wratio,tennis_yn,School_yn,SameName_yn,SameTennis_yn
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,77.751244,82.238806,77.870647,83.218905,82.935323,0.273632,0.676617,0.477612,0.751244
std,27.291717,25.541783,27.317818,26.900778,24.052251,0.446935,0.468935,0.500746,0.746867
min,8.000000,10.000000,7.000000,7.000000,19.000000,0.000000,0.000000,0.000000,0.000000
25%,64.000000,64.000000,61.000000,71.000000,74.000000,0.000000,0.000000,0.000000,0.000000
50%,88.000000,100.000000,90.000000,100.000000,95.000000,0.000000,1.000000,0.000000,1.000000
75%,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000,1.000000,1.000000,1.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000,1.000000,1.000000,2.000000

In [16]:
dflinkedin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 17 columns):
FirstLast         201 non-null object
LName             201 non-null object
SearchResult      201 non-null object
Headline          201 non-null object
Location          201 non-null object
Company           195 non-null object
School            201 non-null object
Activites         201 non-null object
fuzz_ratio        201 non-null int64
fuzz_pratio       201 non-null int64
fuzz_tokensort    201 non-null int64
fuzz_tokenset     201 non-null int64
fuzz_wratio       201 non-null int64
tennis_yn         201 non-null int64
School_yn         201 non-null int64
SameName_yn       201 non-null int64
SameTennis_yn     201 non-null int64
dtypes: int64(9), object(8)
memory usage: 26.8+ KB

In [17]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [18]:
df_suffix = pd.merge(dfroster, dflinkedin,
                     left_on='FirstLast', right_on='FirstLast', how='outer',suffixes=('_R','_L'))

In [19]:
df_suffix['Decade'] = df_suffix['Year']//10*10

In [20]:
df_suffix.drop(columns=['FirstLast.1'], inplace=True)

In [21]:
df_suffix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 272 entries, 0 to 271
Data columns (total 33 columns):
FirstLast         272 non-null object
Criteria          272 non-null object
Year              272 non-null int64
YearsPlayed       272 non-null int64
RosterLink        56 non-null object
Hometown          167 non-null object
HS                167 non-null object
ClassYear         167 non-null object
College           272 non-null object
First             272 non-null object
Gender            272 non-null int64
Last              272 non-null object
MidInit           3 non-null object
MidName           3 non-null object
Name              167 non-null object
RosterYear        167 non-null object
LName             201 non-null object
SearchResult      201 non-null object
Headline          201 non-null object
Location          201 non-null object
Company           195 non-null object
School            201 non-null object
Activites         201 non-null object
fuzz_ratio        201 non-null float64
fuzz_pratio       201 non-null float64
fuzz_tokensort    201 non-null float64
fuzz_tokenset     201 non-null float64
fuzz_wratio       201 non-null float64
tennis_yn         201 non-null float64
School_yn         201 non-null float64
SameName_yn       201 non-null float64
SameTennis_yn     201 non-null float64
Decade            272 non-null int64
dtypes: float64(9), int64(4), object(20)
memory usage: 72.2+ KB

In [22]:
df_suffix.to_csv('RosterLinkedIn_CornellW.csv', index=False)

In [23]:
df_suffix

,FirstLast,Criteria,Year,YearsPlayed,RosterLink,Hometown,HS,ClassYear,College,First,Gender,Last,MidInit,MidName,Name,RosterYear,LName,SearchResult,Headline,Location,Company,School,Activites,fuzz_ratio,fuzz_pratio,fuzz_tokensort,fuzz_tokenset,fuzz_wratio,tennis_yn,School_yn,SameName_yn,SameTennis_yn,Decade
0,Katherine Nguyen,Cornell,2020,2,https://cornellbigred.com/sports/womens-tennis...,"Fountain Valley, Calif.",Capistrano Connections Academy,['Freshman' 'Sophomore'],Cornell University,Katherine,0,Nguyen,NaN,NaN,Katherine Nguyen,"[""2018-19 Women's Tennis Roster"" ""2019-20 Wome...",Katherine Nguyen,https://www.linkedin.com/in/katherine-nguyen-b...,Student-Athlete at Cornell University,Greater Los Angeles Area,SmartyPants Vitamins,"['Cornell University', 'Fountain Valley High S...","[""Cornell Varsity Women's Tennis Team, Big Red...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2020
1,Ashley Huang,Cornell,2020,1,https://cornellbigred.com/sports/womens-tennis...,"Wexford, Pa.",North Allegheny HS,['Freshman'],Cornell University,Ashley,0,Huang,NaN,NaN,Ashley Huang,"[""2019-20 Women's Tennis Roster""]",Rob Reid,https://www.linkedin.com/in/rwreid/,Research Assistant Professor at University of ...,"Harrisburg, North Carolina",Not Found,[],[],10.0,12.0,20.0,20.0,21.0,0.0,0.0,0.0,0.0,2020
2,Valerie Ho,Cornell,2020,2,https://cornellbigred.com/sports/womens-tennis...,"Silver Spring, Md.",Montgomery Blair HS,['Freshman' 'Sophomore'],Cornell University,Valerie,0,Ho,NaN,NaN,Valerie Ho,"[""2018-19 Women's Tennis Roster"" ""2019-20 Wome...",Valerie Ho,https://www.linkedin.com/in/valeriehho/,Student-Athlete at Cornell University,Washington D.C. Metro Area,Sodexo,"['Cornell University', 'Montgomery Blair High ...","[""Varsity Women's Tennis, Big Red Leadership I...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2020
3,Khary Pryce,Cornell,2020,2,https://cornellbigred.com/sports/womens-tennis...,"Ellicott City, Md.",McDonogh School,['Freshman' 'Sophomore'],Cornell University,Khary,0,Pryce,NaN,NaN,Khary Pryce,"[""2018-19 Women's Tennis Roster"" ""2019-20 Wome...",Khary Pryce,https://www.linkedin.com/in/khary-pryce-543470...,Peer Facilitator at Intergroup Dialogue Proje...,"Albany, New York Area",Cornell University,"['Cornell University', 'IMG Academy', 'McDonog...","['Varsity Tennis Team, Big Red Leadership Inst...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2020
4,Fatima El Ashram,Cornell,2020,1,https://cornellbigred.com/sports/womens-tennis...,"Zamalek, Cairo, Egypt",Weil College Prep,['Freshman'],Cornell University,Fatima,0,Ashram,El,El,Fatima El Ashram,"[""2019-20 Women's Tennis Roster""]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
5,Maria Adiaconitei,Cornell,2020,2,https://cornellbigred.com/sports/womens-tennis...,"Bethesda, Md.",Laurel Springs HS,['Freshman' 'Sophomore'],Cornell University,Maria,0,Adiaconitei,NaN,NaN,Maria Adiaconitei,"[""2018-19 Women's Tennis Roster"" ""2019-20 Wome...",Maria Adiaconitei,https://www.linkedin.com/in/maria-adiaconitei-...,Student at Cornell University,"Ithaca, New York Area",Washington Orthopaedics and Sports Medicine,['Cornell University'],"['Varsity Tennis Team, Big Red Leadership Inst...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2020
6,Megan Polnet,Cornell,2020,1,https://cornellbigred.com/sports/womens-tennis...,"Churchville, Pa.",Laurel Springs,['Freshman'],Cornell University,Megan,0,Polnet,NaN,NaN,Megan Polnet,"[""2019-20 Women's Tennis Roster""]",Megan Polnet,https://www.linkedin.com/in/megan-polnet-27224...,Student Athlete,"North Miami Beach, Florida",NaN,['Cornell University - College of Arts and Sci...,[],100.0,100.0,100.0,100.0,100.0,0.0,1.0,1.0,1.0,2020
7,Michelle Deng,Cornell,2020,1,https://cornellbigred.com/sports/womens-tennis...,"Temple City, Calif.",Arcadia HS,['Freshman'],Cornell University,Michelle,0,Deng,NaN,NaN,Michelle Deng,"[""2019-20 Women's Tennis Roster""]",Michele Marass,https://www.linkedin.com/in/michele-marass/,PhD | Scientific Editor at Nature Communicatio...,"London, Greater London, United Kingdom",Springer Nature,"['Max Planck Society', 'Scuola Internazionale ...",['Member of the International Max Planck Resea...,59.0,62.0,59.0,59.0,59.0,0.0,0.0,0.0,0.0,2020
8,Sarah Campbell,Cornell,2020,2,https://cornellbigred.com/sports/womens-tennis...,"Sudbury, Mass.",Lincoln Sudbury HS,['Freshman' 'Sophomore'],Cornell University,Sarah,0,Campbell,NaN,NaN,Sarah Campbell,"[""2018-19 Women's Tennis Roster"" ""2019-20 Wome...",Sarah Campbell,https://www.linkedin.com/in/sarah-campbell-241...,Student Athlete,Greater Boston Area,Nawshawtuc Country Club,"['Cornell University', 'Lincoln-Sudbury Region...","[""Women's Varsity Tennis (2018-present), Big R...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2020
9,Mariko Iinuma,Cornell,2019,4,https://cornellbigred.com/sports/womens-tennis...,"San Mateo, Calif.",Hillsdale HS,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Mariko,0,Iinuma,NaN,NaN,Mariko Iinuma,"[""2015-16 Women's Tennis Roster"" ""2016-17 Wome...",Mariko Iinuma,https://www.linkedin.com/in/mariko-iinuma-8b48...,Program Manager at Google,"Redondo Beach, California",Google AI,"['Cornell University', 'Hillsdale High School']","[""Cornell Women's Varsity Tennis Team, Big Red...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
10,Madison Stevens,Cornell,2018,4,https://cornellbigred.com/sports/womens-tennis...,"Mendham, N.J.",The Pingry School,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Madison,0,Stevens,NaN,NaN,Madison Stevens,"[""2014-15 Women's Tennis Roster"" ""2015-16 Wome...",Madison Stevens,https://www.linkedin.com/in/madison-stevens-b1...,"Associate, Client Service Team at AlphaSights","Chester, New Jersey",AlphaSights,"['Cornell University', 'The Pingry School']","[""Cornell Women's Tennis, Big Red Leadership I...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
11,Michelle Wang,Cornell,2018,3,https://cornellbigred.com/sports/womens-tennis...,"Sammamish, Wash.",Redmond HS,['Freshman' 'Sophomore' 'Junior'],Cornell University,Michelle,0,Wang,NaN,NaN,Michelle Wang,"[""2015-16 Women's Tennis Roster"" ""2016-17 Wome...",Michelle Wang,https://www.linkedin.com/in/michellejwang8/,Financial Analyst at Microsoft,"Redmond, Washington",SAP,"['Cornell University', 'Redmond High School']","[""Cornell Women's Varsity Tennis, Cornell Cons...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
12,Priyanka Shah,Cornell,2018,4,https://cornellbigred.com/sports/womens-tennis...,"Somerset, N.J.",Lake Nona HS (Fla.),['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Priyanka,0,Shah,NaN,NaN,Priyanka Shah,"[""2014-15 Women's Tennis Roster"" ""2015-16 Wome...",Priyanka Shah,https://www.linkedin.com/in/priyanka-shah000/,Cloud Technology Consultant☁,Greater Boston Area,Not Found,[],[],100.0,100.0,100.0,100.0,100.0,0.0,0.0,1.0,1.0,2010
13,Cheyenne Lilienthal,Cornell,2018,1,https://cornellbigred.com/sports/womens-tennis...,"Land O' Lakes, Fla.",Academy at the Lakes,['Freshman'],Cornell University,Cheyenne,0,Lilienthal,NaN,NaN,Cheyenne Lilienthal,"[""2017-18 Women's Tennis Roster""]",Cheyenne Lilienthal,https://www.linkedin.com/in/cheyenne-lilientha...,Former Student-Athlete at Cornell University,"Tampa, Florida",MedExpress,"['University of South Florida', 'Cornell Unive...","['Alpha Delta Pi, Pre-PA Club, Pre-Med Club, V...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
14,Ananya Dua,Cornell,2018,2,https://cornellbigred.com/sports/womens-tennis...,"Pittsburgh, Pa.",Shady Side Academy,['Freshman' 'Sophomore'],Cornell University,Ananya,0,Dua,NaN,NaN,Ananya Dua,"[""2016-17 Women's Tennis Roster"" ""2017-18 Wome...",Ananya Dua,https://www.linkedin.com/in/ananya-dua-375721137/,Student at Cornell University,"Murrysville, Pennsylvania",Barneys New York,"['London College of Fashion, University of the...","['Kappa Delta Sorority, Cornell Fashion Indust...",100.0,100.0,100.0,100.0,100.0,0.0,1.0,1.0,1.0,2010
15,Ana Elhom,Cornell,2018,1,https://cornellbigred.com/sports/womens-tennis...,"Potomac, Md.",Bullis School,['Freshman'],Cornell University,Ana,0,Elhom,NaN,NaN,Ana Elhom,"[""2017-18 Women's Tennis Roster""]",Ana Elhom,https://www.linkedin.com/in/ana-elhom-671565156/,Incoming Technical Operations Intern at Merck,Washington D.C. Metro Area,Merck,"['Cornell University', 'The Bullis School']","[""Cornell Club Tennis Vice President | Cornell...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
16,Marika Cusick,Cornell,2017,4,https://cornellbigred.com/sports/womens-tennis...,"Hinsdale, Ill.",Hinsdale Central HS,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Marika,0,Cusick,NaN,NaN,Marika Cusick,"[""2013-14 Women's Tennis Roster"" ""2014-15 Wome...",Marika Cusick,https://www.linkedin.com/in/marika-cusick-2524...,Business Analyst at Weill Cornell Medicine,"New York, New York",Weill Cornell Medicine,"['Cornell Tech', 'Cornell University', 'Hinsda...",['Health Tech Representative at Cornell Tech S...,100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
17,Lizzie Stewart,Cornell,2017,3,https://cornellbigred.com/sports/womens-tennis...,"Oakton, Va.",Oakton HS,['Freshman' 'Sophomore' 'Junior'],Cornell University,Lizzie,0,Stewart,NaN,NaN,Lizzie Stewart,"[""2014-15 Women's Tennis Roster"" ""2015-16 Wome...",Elizabeth Stewart,https://www.linkedin.com/in/eastewartseattle/,Writer/Editor for Bio-Link.org at Digital Worl...,"Edmonds, Washington",Bio-Link,"['Stanford University School of Medicine', 'Co...","['Triathlons', 'Member of the Honor Society']",71.0,71.0,77.0,77.0,77.0,0.0,1.0,0.0,0.0,2010
18,Allegra Hanlon,Cornell,2017,3,https://cornellbigred.com/sports/womens-tennis...,"Key Biscayne, Fla.",Ransom Everglades School,['Freshman' 'Sophomore' 'Junior'],Cornell University,Allegra,0,Hanlon,NaN,NaN,Allegra Hanlon,"[""2014-15 Women's Tennis Roster"" ""2015-16 Wome...",Allegra Hanlon,https://www.linkedin.com/in/allegra-hanlon-148...,Sales Associate at Condé Nast,"New York, New York",Condé Nast,"['Cornell University', 'Ransom Everglades Scho...","['Kappa Delta Sorority, Cornell University Var...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
19,Alexandra D'Ascenzo,Cornell,2017,4,https://cornellbigred.com/sports/womens-tennis...,"West Bloomfield, Mich.",Frankel Jewish Academy,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Alexandra,0,D'Ascenzo,NaN,NaN,Alexandra D'Ascenzo,"[""2013-14 Women's Tennis Roster"" ""2014-15 Wome...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010
20,Maria Perez de la Llave,Cornell,2017,1,https://cornellbigred.com/sports/womens-tennis...,"Madrid, Spain",Saint Anne's School,['Freshman'],Cornell University,Maria,0,de la Llave,Perez,Perez,Maria Perez de la Llave,"[""2016-17 Women's Tennis Roster""]",María Pérez de la Llave,https://www.linkedin.com/in/mar%C3%ADa-p%C3%A9...,Operations Research Engineering at Cornell Uni...,"Ithaca, New York",Universidad Pontificia Comillas,"['Cornell University', 'Universidad Pontificia...","['Alpha Phi, Athletic Steering Committee, Big ...",91.0,91.0,95.0,95.0,95.0,1.0,1.0,0.0,1.0,2010
21,Mariam Salakaia,Cornell,2017,1,https://cornellbigred.com/sports/womens-tennis...,"Falls Church, Va.",George Mason HS,['Freshman'],Cornell University,Mariam,0,Salakaia,NaN,NaN,Mariam Salakaia,"[""2016-17 Women's Tennis Roster""]",Mariam Salakaia,https://www.linkedin.com/in/mariam-salakaia-13...,Business Operation Analyst at AT&T,"Atlanta, Georgia, United States",AT&T,"['Cornell University', 'George Mason High Scho...","['Society for Women in Business, Cornell Europ...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
22,Kristin Quill,Cornell,2016,3,https://cornellbigred.com/sports/womens-tennis...,"Nanuet, N.Y.",Nanuet HS,['Freshman' 'Sophomore' 'Junior'],Cornell University,Kristin,0,Quill,NaN,NaN,Kristin Quill,"[""2013-14 Women's Tennis Roster"" ""2014-15 Wome...","Kristin Quill, RDN, CDN",https://www.linkedin.com/in/kristin-quill-rdn-...,Registered Dietitian Nutritionist,Greater New York City Area,Monte Nido & Affiliates,"['Cornell University', 'Nanuet Senior High Sch...","[""Cornell University Women's Division I Varsit...",72.0,100.0,76.0,100.0,90.0,1.0,1.0,0.0,1.0,2010
23,Dena Tanenbaum,Cornell,2016,4,https://cornellbigred.com/sports/womens-tennis...,"Manasquan, N.J.",Red Bank Catholic,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Dena,0,Tanenbaum,NaN,NaN,Dena Tanenbaum,"[""2012-13 Women's Tennis Roster"" ""2013-14 Wome...",Dena Tanenbaum,https://www.linkedin.com/in/denatanenbaum/,Senior Infrastructure Consultant at Avanade,Greater New York City Area,Not Found,[],[],100.0,100.0,100.0,100.0,100.0,0.0,0.0,1.0,1.0,2010
24,Jane Stewart,Cornell,2016,2,https://cornellbigred.com/sports/womens-tennis...,"New York, NY",The Chapin School (Rice University),['Junior' 'Senior'],Cornell University,Jane,0,Stewart,NaN,NaN,Jane Stewart,"[""2014-15 Women's Tennis Roster"" ""2015-16 Wome...",Jane Stewart,https://www.linkedin.com/in/jane-stewart-96031...,Deputy Project at Blue Heron Research Partners,Greater New York City Area,The Economist Intelligence Unit (The EIU),['Cornell University'],[],100.0,100.0,100.0,100.0,100.0,0.0,1.0,1.0,1.0,2010
25,Laila Judeh,Cornell,2014,2,https://cornellbigred.com/sports/womens-tennis...,"Potomac, Md.",Winston Churchill HS,['Freshman' 'Sophomore'],Cornell University,Laila,0,Judeh,NaN,NaN,Laila Judeh,"[""2012-13 Women's Tennis Roster"" ""2013-14 Wome...",Laila Judeh,https://www.linkedin.com/in/laila-judeh-283b28b1/,Senior Consultant at Ernst & Young,United Arab Emirates,Endeavor,['Cornell University'],"[""Cornell Varsity Women's Tennis, Teaching Ass...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
26,Lauren Frazier,Cornell,2014,3,https://cornellbigred.com/sports/womens-tennis...,"Greenville, N.C.",Junius H. Rose HS,['Freshman' 'Sophomore' 'Junior'],Cornell University,Lauren,0,Frazier,NaN,NaN,Lauren Frazier,"[""2011-12 Women's Tennis Roster"" ""2012-13 Wome...",Lauren Frazier,https://www.linkedin.com/in/lauren-frazier-546...,"PE, Project Engineer at Integral Group",San Francisco Bay Area,"Integral Group, Inc.","['Cornell University', 'Cornell University', '...","['AguaClara, CU Sustainable Design', ""AguaClar...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
27,Courtney Malinchak,Cornell,2014,3,https://cornellbigred.com/sports/womens-tennis...,"Parkland, Fla.",Pine Crest HS,['Freshman' 'Sophomore' 'Junior'],Cornell University,Courtney,0,Malinchak,NaN,NaN,Courtney Malinchak,"[""2011-12 Women's Tennis Roster"" ""2012-13 Wome...",Courtney Malinchak,https://www.linkedin.com/in/courtney-malinchak...,Health & Wellness Coach,"Fort Lauderdale, Florida",Courtney Malinchak,"['Cornell University', 'Pine Crest School']","[""Women's Varsity Tennis Team, University Repr...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
28,Shannon Comolli,Cornell,2014,2,https://cornellbigred.com/sports/womens-tennis...,"Newburyport, Mass.",Philips Exeter Academy,['Freshman' 'Senior'],Cornell University,Shannon,0,Comolli,NaN,NaN,Shannon Comolli,"[""2010-11 Women's Tennis Roster"" ""2013-14 Wome...",Shannon Comolli,https://www.linkedin.com/in/shannon-comolli/,Georgetown MBA Candidate 2021 | Real Estate & ...,"Washington, District Of Columbia",EDENS,['Georgetown University McDonough School of Bu...,"['Treasurer, Phi Sigma Pi Honors Fraternity; C...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
29,Christy Kung,Cornell,2014,2,https://cornellbigred.com/sports/womens-tennis...,"Pembroke Pines, Fla.",West Broward HS,['Freshman' 'Sophomore'],Cornell University,Christy,0,Kung,NaN,NaN,Christy Kung,"[""2012-13 Women's Tennis Roster"" ""2013-14 Wome...",Christy Kung,https://www.linkedin.com/in/christy-kung-bba53...,Associate at HSBC,"Houston, Texas",NaN,['Cornell University'],[],100.0,100.0,100.0,100.0,100.0,0.0,1.0,1.0,1.0,2010
30,Kyja Kutnick,Cornell,2014,1,https://cornellbigred.com/sports/womens-tennis...,"Redding, Conn.",Green Farms Academy,['Freshman'],Cornell University,Kyja,0,Kutnick,NaN,NaN,Kyja Kutnick,"[""2013-14 Women's Tennis Roster""]",Kyja Kutnick,https://www.linkedin.com/in/kyja-kutnick-10212...,City Design & Technology Masters Candidate at ...,"London, United Kingdom",Not Found,[],[],100.0,100.0,100.0,100.0,100.0,0.0,0.0,1.0,1.0,2010
31,Ryann Young,Cornell,2014,4,https://cornellbigred.com/sports/womens-tennis...,"Northbrook, Ill.","St. Stephen's Episcopal School (Austin, Texas)",['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Ryann,0,Young,NaN,NaN,Ryann Young,"[""2010-11 Women's Tennis Roster"" ""2011-12 Wome...",Ryann Young,https://www.linkedin.com/in/ryann-young-62932478/,Senior Associate at Paul Ray & Company Executi...,Greater Chicago Area,Paul Ray & Company,['Cornell University'],"['Cornell Varsity Tennis (2010-2014), Team Cap...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
32,Christine Ordway,Cornell,2013,4,https://cornellbigred.com/sports/womens-tennis...,"Falmouth, Maine",Waynflete School,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Christine,0,Ordway,NaN,NaN,Christine Ordway,"[""2009-10 Women's Tennis Roster"" ""2010-11 Wome...",Christine Ordway,https://www.linkedin.com/in/christine-ordway-2...,Student at Cornell University,"Falmouth, Maine",Public Defenders Service of DC,"['Waynflete School', 'Cornell University, Coll...","['Cornell Varsity Tennis Team, Sigma Delta Tau...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
33,Kirsten Kohagen,Cornell,2013,4,https://cornellbigred.com/sports/womens-tennis...,"Raleigh, N.C.",Cary Academy,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Kirsten,0,Kohagen,NaN,NaN,Kirsten Kohagen,"[""2009-10 Women's Tennis Roster"" ""2010-11 Wome...","Kirsten Kohagen, CCRP",https://www.linkedin.com/in/kirsten-kohagen-cc...,Senior Clinical Research Associate III at IQVIA,"Raleigh-Durham, North Carolina Area",Not Found,[],[],83.0,100.0,86.0,100.0,95.0,0.0,0.0,0.0,0.0,2010
34,Sara Perelman,Cornell,2013,2,https://cornellbigred.com/sports/womens-tennis...,"Pittsburgh, Pa.",Shady Side Academy,['Freshman' 'Sophomore'],Cornell University,Sara,0,Perelman,NaN,NaN,Sara Perelman,"[""2011-12 Women's Tennis Roster"" ""2012-13 Wome...",Sara Perelman,https://www.linkedin.com/in/saraperelman/,"Managing Consultant, Sports & Live Events at I...",Greater New York City Area,Walnut Capital,"['Cornell University', 'Florence University of...","['Varsity Tennis Player, Delta Gamma Sorority'...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
35,Sarah O'Neil,Cornell,2013,4,https://cornellbigred.com/sports/womens-tennis...,"Lynnfield, Mass.",Lynnfield High School,['Freshman' 'Sophomore' 'Junior' 'Senior'],Cornell University,Sarah,0,O'Neil,NaN,NaN,Sarah O'Neil,"[""2009-10 Women's Tennis Roster"" ""2010-11 Wome...",Sarah O'Neil,https://www.linkedin.com/in/saraho4237/,Data Scientist,"Denver, Colorado",Colorado Department of Public Health and Envir...,"['Galvanize Inc', 'University of Denver', 'Cor...","[""Women's Varsity Tennis, Red Key Athlete Hono...",100.0,100.0,100.0,100.0,100.0,1.0,1.0,1.0,2.0,2010
36,Gabby Sullivan,Cornell,2012,1,https://cornellbigred.com/sports/womens-tennis...,"Brooklyn, N.Y.",Poly Prep Country Day School,['Freshman'],Cornell University,Gabby,0,Sullivan,NaN,NaN,Gabby Sullivan,"[""2011-12 Women's Tennis Roster""]",Gabby Sullivan,https://www.linkedin.com/in/gabby-sullivan-385...,Senior Talent Acquisition Associate at The Tra...,"Chicago, Illinois",Not Found,[],[],100.0,100.0,100.0,100.0,100.0,0.0,0.0,1.0,1.0,2010
37,Nina Turudic,Cornell,2012,1,https://cornellbigred.com/sports/womens-tennis...,"Zagreb, Croatia",Zagreb Gymnasium,['Freshman'],Cornell University,Nina,0,Turudic,NaN,NaN,Nina Turudic,"[""2011-12 Women's Tennis Roster""]",Nina Turudic,https://www.linkedin.com/in/nina-turudic-76986...,Student at Cornell University,"Ithaca, New York",Cornell University,['Cornell University'],[],100.0,100.0,100.0,100.0,100.0,0.0,1.0,1.0,1.0,2010