In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from parsel import Selector
import pandas as pd
import numpy as np
import time
EXE_PATH = r"C:\Users\19145\Downloads\chromedriver_win32\chromedriver.exe"
driver = webdriver.Chrome(executable_path=EXE_PATH)

In [2]:
driver.get('https://www.linkedin.com')
time.sleep(10)

In [3]:
driver.find_element_by_class_name("input")

In [4]:
driver.find_element_by_name("session_key")

In [5]:
username = driver.find_element_by_name("session_key")
username.send_keys('eric.cruz.4242@gmail.com')

In [6]:
driver.find_element_by_name("session_password")

In [7]:
password = driver.find_element_by_name("session_password")
password.send_keys('Cassidy1!')

In [8]:
driver.find_element_by_class_name("sign-in-form__footer")
log_in_button = driver.find_element_by_class_name("sign-in-form__submit-btn")
log_in_button.click()

In [9]:
driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")
searchname = driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")

In [10]:
searchname.send_keys('Eric Cruz Cornell')

In [11]:
driver.find_element_by_class_name("search-global-typeahead__controls")
clicksearch = driver.find_element_by_class_name("search-global-typeahead__controls")
clicksearch.click()
time.sleep(10)

In [12]:
driver.find_element_by_xpath('//span[@class="name actor-name"]').click()
time.sleep(1)

In [13]:
searchresult=[]
name=[]
LName=[]
headline=[]
location=[]
company=[]
school=[]
activities=[]

In [14]:
searchresult = driver.current_url
searchresult
time.sleep(1)

In [15]:
sel=Selector(text=driver.page_source)
name = sel.xpath('//*[starts-with(@class, "inline t-24")]/text()').extract_first()
name = name.strip()
LName = name
#time.sleep(5)
#name.append(name)
headline = sel.xpath('//*[starts-with(@class, "mt1 t-18")]/text()').extract_first()
headline = headline.strip()
#time.sleep(5)
#headline.append(headline)
location = sel.xpath('//*[starts-with(@class, "t-16")]/text()').extract_first()
location = location.strip()
time.sleep(5)
#location.append(location)
company = sel.xpath('//*[starts-with(@class, "pv-entity__secondary-title")]/text()').extract_first()
if company is None:
    company = "Not Found"
company = company.strip()
#time.sleep(5)
#company.append(company)
school = sel.xpath('//*[starts-with(@class, "pv-entity__school-name")]/text()').getall()
#school.append(school)
#time.sleep(5)
activities = sel.xpath('//*[starts-with(@class, "activities-societies")]/text()').getall()
#activities.append(activities)
#time.sleep(5)

In [16]:
df = pd.DataFrame({
'Name':[name],
'LName':[LName],    
'SearchResult':[searchresult], 
'Headline':[headline], 
'Location':[location], 
'Company':[company],
'School':[school],
'Activites':[activities]    
})

In [17]:
df

,Name,LName,SearchResult,Headline,Location,Company,School,Activites
0,Eric Cruz,Eric Cruz,https://www.linkedin.com/in/eric-cruz-07124651/,Finance | IT | Data Science |,"New Rochelle, New York",Not Found,[],[]

In [18]:
namelist = pd.read_csv('NamelistYaleW2.csv')
names = pd.read_csv('NamelistYaleW2.csv')
companies = pd.read_csv('CriterialistYaleW2.csv')
names = pd.DataFrame(names).to_numpy()
companies = pd.DataFrame(companies).to_numpy()

In [19]:
query = []
Name = []
for name, company in zip(names, companies): 
    Name = name
    query = name + company
    searchname.send_keys(query)
    driver.find_element_by_class_name("search-global-typeahead__controls")
    clicksearch = driver.find_element_by_class_name("search-global-typeahead__controls")
    clicksearch.click()
    time.sleep(2)
    try:
        driver.find_element_by_xpath('//span[@class="name actor-name"]').click()
        time.sleep(2)
        searchresult = driver.current_url
    except Exception:
        print(query)
        driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")
        searchname = driver.find_element_by_class_name("search-global-typeahead__input.always-show-placeholder")        
        searchname.clear()
        time.sleep(1)
        driver.find_element_by_class_name("search-global-typeahead__controls")
        clicksearch = driver.find_element_by_class_name("search-global-typeahead__controls")
        clicksearch.click()
        time.sleep(1)
        clicksearch.click()
    else:
        sel=Selector(text=driver.page_source)
        name = sel.xpath('//*[starts-with(@class, "inline t-24")]/text()').extract_first()
        if name is None:
            name = "Not Found"
        LName = name.strip()
#time.sleep(5)
        headline = sel.xpath('//*[starts-with(@class, "mt1 t-18")]/text()').extract_first()
        if headline is None:
            headline = "Not Found"
        headline = headline.strip()
#time.sleep(5)
        location = sel.xpath('//*[starts-with(@class, "t-16")]/text()').extract_first()
        if location is None:
            location = "Not Found"
        location = location.strip()
        time.sleep(2)
        company = sel.xpath('//*[starts-with(@class, "pv-entity__secondary-title")]/text()').extract_first()
        if company is None:
            company = "Not Found"
        company = company.strip()
#time.sleep(5)
        school = sel.xpath('//*[starts-with(@class, "pv-entity__school-name")]/text()').getall()
#time.sleep(5)
        activities = sel.xpath('//*[starts-with(@class, "activities-societies")]/text()').getall()
#time.sleep(5)
        tempdf = pd.DataFrame({
        'Name':[Name], 
        'LName' :[LName],
        'SearchResult':[searchresult], 
        'Headline':[headline], 
        'Location':[location], 
        'Company':[company],
        'School':[school],
        'Activites':[activities]    
        })
        df=df.append(tempdf)

['Sally MacPartland Yale']
['Elizabeth Auchincloss Yale']
['Linden Havemeyer Yale']
['Louise Lippincott Yale']
['A. Julianna Gulya Yale']
['Susan Gootrad Yale']
['Barbara Krasa Yale']
['Jani Rachelson Yale']
['Sarah Muyskens Yale']
['Kelly McCaffrey Yale']
['Christin Mamiya Yale']
['Jessie-Kay Cheng Yale']
['Francine Hanberg Yale']
['Abbe Anderson Yale']
['Martha Mahoney Yale']
['Anne Seidler Yale']
['Sylvia Madrigan Yale']
['Valerie Tebbetts Yale']
['Celia Moffie Yale']
['Lynn Garfinkle Yale']
['Sally Sprole Yale']
['Caroline McAlister Yale']
['Nancy Zetley Yale']
['Sherry Licht Yale']
['Joanne Van Woert Yale']
['Randee Farfel Yale']
['Rosemind White Yale']
['Wendy Fischl Yale']
['Katherine Gressens Yale']
['Susan Liebowitz Yale']
['Debra Havdala Yale']
['Laura Spadone Yale']
['Bettina Unhoch Yale']
['Sangeeta Hingorani Yale']
['Lori Steinberg Yale']
['Carolyn Hatcher Yale']
['Leslie Fahrenkopf Yale']
['Amy Altschul Yale']
['Jamie Resnick Yale']
['Nina Bertsch Yale']
['Atara Stember Yale']
['Katherine Rhee Yale']
['Somer Khanlarian Yale']
['Sara Naison-Phillips Yale']
['Christina Blodgett Yale']
['Jacklyn Fu Yale']
['Ashlee Ferlito Yale']
['Bronson Oosterhuis Yale']
['Susan Hiniker Yale']
['Karlyn Martin Yale']
['Rekha Natrajan Yale']
['Camilla Hsu Yale']
['Karolina Grygierowska Yale']
['Sarah Lederhandler Yale']
['Raissa Lou Yale']
['Samantha Martinelli Yale']
['Rhea Shrivastava Yale']

In [20]:
#names

In [21]:
#namelist

In [22]:
df.reset_index(drop=True, inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 8 columns):
Name            203 non-null object
LName           203 non-null object
SearchResult    203 non-null object
Headline        203 non-null object
Location        203 non-null object
Company         203 non-null object
School          203 non-null object
Activites       203 non-null object
dtypes: object(8)
memory usage: 12.8+ KB

In [24]:
df.drop(df.index[0], inplace=True)

In [25]:
df

,Name,LName,SearchResult,Headline,Location,Company,School,Activites
1,[Sheila Ford],Brian McManamon,https://www.linkedin.com/in/brian-mcmanamon-65...,Actor at Warner Bros. Entertainment Group of C...,Greater New York City Area,Not Found,[],[]
2,[Sarah Fox],Sarah Fox,https://www.linkedin.com/in/sarah-fox-8a2977191/,"Musician, Historian, Poet at Yale Institute o...","Hartford, Connecticut Area",Yale Institute of Sacred Music,[],[]
3,[Diane Straus],Diane Strauss,https://www.linkedin.com/in/diane-strauss-4307...,"Research Director, Yale Initiative for Sustain...","Paris Area, France",Yale University,"[Sciences-PO Bordeaux, Sciences-PO Strasbourg]","[Le Cid Citrique association, theater improvis..."
4,[Lucy Daggett],Lucy Daggett,https://www.linkedin.com/in/lucy-daggett-96064...,High School Guidance Counselor,San Francisco Bay Area,Pittsburg Unified School District,"[Yale University, California State University ...",[]
5,[Margaret Mercer],Margaret Pfister,https://www.linkedin.com/in/margaret-pfister-5...,Staff Physician at VNA Health Care,Greater Chicago Area,VNA Health Care,[Northwestern University - The Feinberg School...,[]
...,...,...,...,...,...,...,...,...
198,[Lauren Gillinov],Lauren Gillinov,https://www.linkedin.com/in/lauren-gillinov-26...,Student at Yale University,"Chagrin Falls, Ohio",Not Found,[Yale University],[]
199,[Vivian Cheng],Vivian Cheng,https://www.linkedin.com/in/vivian-cheng-64178...,Student at Yale University,"New Haven County, Connecticut, United States",,[Yale University],[]
200,[Rena Lin],Yuan-Chen Li,https://www.linkedin.com/in/yuan-chen-li-58b45...,"A human being first, then an artist and educat...","Portland, Oregon",Not Found,[],[]
201,[Chelsea Kung],Loukas Karampogias,https://www.linkedin.com/in/karampogias/,"MRICS; EUR ING; MSc, MBA, Dipl.-Ing","London, England Metropolitan Area",Not Found,[],[]
202,[Kathy Wang],Kathy Wang,https://www.linkedin.com/in/kathy-wang-36a6a7170/,Computer Science and Economics Major at Yale U...,Greater San Diego Area,Pokewan,"[Yale University, The London School of Economi...","[Yale Women's Tennis, Fair Haven Tutoring, New..."

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202 entries, 1 to 202
Data columns (total 8 columns):
Name            202 non-null object
LName           202 non-null object
SearchResult    202 non-null object
Headline        202 non-null object
Location        202 non-null object
Company         202 non-null object
School          202 non-null object
Activites       202 non-null object
dtypes: object(8)
memory usage: 14.2+ KB

In [27]:
df.describe()

,Name,LName,SearchResult,Headline,Location,Company,School,Activites
count,202,202,202,202,202,202,202,202
unique,202,193,193,185,92,149,134,73
top,[Ree Ree Li],"' Ross Gagné, MBA, Your curiosity is welcome☻",https://www.linkedin.com/in/rossgagne/,Student at Yale University,Greater New York City Area,Not Found,[],[]
freq,1,7,7,8,26,32,32,127

In [28]:
df.isnull().sum()

Name            0
LName           0
SearchResult    0
Headline        0
Location        0
Company         0
School          0
Activites       0
dtype: int64

In [29]:
df["School"].value_counts()

[]                                                                                                            32
[Yale University]                                                                                             24
[Concordia University, Université de Sherbrooke, Université du Québec à Montréal]                              7
[university of british columbia, Burnaby North Senior Secondary School]                                        4
[Harvard Law School, Yale University]                                                                          2
                                                                                                              ..
[University of Pittsburgh, Carnegie Mellon, Yale University]                                                   1
[Yale University, NYU Stern School of Business, Mills College]                                                 1
[Joan & Sanford I. Weill Medical College of Cornell University, Yale University]                               1
[Dartmouth College - The Tuck School of Business at Dartmouth, Indian School of Business, Yale University]     1
[Yale University, Columbia | SIPA]                                                                             1
Name: School, Length: 134, dtype: int64

In [30]:
#df.School.unique()

In [31]:
type(df)

pandas.core.frame.DataFrame

In [32]:
df.columns

Index(['Name', 'LName', 'SearchResult', 'Headline', 'Location', 'Company',
       'School', 'Activites'],
      dtype='object')

In [34]:
df.to_csv("YaleWomenLinkedIn2.csv", index=False)